@color-base: #000000;
@color-red: #dc0017;
@color-ltGray: #313132;
@color-lighterGray: #e6e7e8;
@color-medGray: #a6a8ab;
@pad-text: 5px 0 12px 0;
@defaultFont: FFEnzoWebProMedium;
@boldFont: FFEnzoWebProBold;
@defaultItalic: FFEnzoWebProMediumItalic;
@boldItalic: FFEnzoWebProBoldItalic;
@text-base: 16px;
@img-dir:"/wp-content/themes/triton/img";
@highdensity:   ~"only screen and (-webkit-min-device-pixel-ratio: 2)",
                ~"only screen and (min--moz-device-pixel-ratio: 2)",
                ~"only screen and (-o-min-device-pixel-ratio: 2/1)",
                ~"only screen and (min-device-pixel-ratio: 2)",
                ~"only screen and (min-resolution: 192dpi)",
                ~"only screen and (min-resolution: 2dppx)";
@iphone:        ~"only screen and (max-width: 320px)";
@mobile:        ~"only screen and (min-width: 321px) and (max-width: 639px)";
@tablet:        ~"only screen and (min-width: 640px) and (max-width: 767px)";
@tablet-wide:        ~"only screen and (min-width: 768px) and (max-width: 949px)";
@desktop:       ~"only screen and (min-width: 950px) and (max-width: 1128px)";
@desktop-xl:    ~"only screen and (min-width: 1129px)";