/********************
	    FONTS
*********************/
h1, h2, h3, h4, h5, h6, p{
	padding:@pad-text;
	}
h1{
	font-size:3.4em;
	.italic;
	.caps;
	}
h2{
	font-size:2.5em;
	.italic;
	color:@color-red;
	.caps;
	}
h3{
	font-size:2.2em;
	}
h4{
	font-size:2em;
	color:@color-red;
	}
h5{
	font-size:1.9em;
	line-height:1.2em;
	.italic;
	.caps;
	}
h6{
	font-size:1.5em;
	color:@color-base;
	.italic;
	border-bottom:1px solid @color-red;
	}
p{
	font-size:1em;
	line-height:1.7em;
	
	}
