/* SITE FOOTER */

#footer{
	.pos;
	z-index:10;
	margin:0 0 0 210px;
	min-height:10%;
	.pad;
	background-color:@color-base;
	max-width:1290px;
	.logo{
	    max-width:177px;
	    }
	.menu-item{
	    padding:2px 0;
	    }
	a{
	    color:lighten(@color-base, 60%);
	    font-size:11px;
	    .caps;
	    &:hover{
	        color:#eee;
	        .bold;
	        }
	    }
	.title{
	    .pos;
	    color:#fff;
	    font-size:11px;
	    padding:0;
	    .caps;
	    .bold;
	    }
	.copyright{
	    .pos;
	    .center;
	    text-align:left;
	    max-width:90%;
	    font-size:.7em;
	    color:lighten(@color-base, 70%);
	    @media @tablet{
	        text-align:left;
	        padding-top:15px;
	        }
	    @media @mobile{
	        text-align:left;
	        padding-top:15px;
	        max-width:80%;
	        }
	   @media @iphone{
	        text-align:left;
	        padding-top:15px;
	        max-width:80%;
	        }
	    }
	.homeLink{
	    padding-top:0;
	    @media @tablet{
	        float:left;
	        }
	    @media @mobile{
	        float:left;
	        }
	    @media @iphone{
	        float:left;
	        }
	    }
	#social{
	    .pos;
	    margin: 35px auto 0 auto;
	    @media @tablet{
	        float:left;
	        }
	    @media @mobile{
	        float:left;
	        }
	    @media @iphone{
	        float:left;
	        }
	    a{
	        text-align:center;
	        img{
	            height:18px;
	            width:auto;
	            }
	        }
	    .span_3{
	        @media @mobile{
	            height:auto;
	            width: 23.8%;
	            }
	        @media @mobile{
	            height:auto;
	            width: 23.8%;
	            }
	        @media @mobile{
	            height:auto;
	            width: 23.8%;
	            }
	        }
	    }
	form{
	    .pos;
	    clear:both;
	    width:100%;
	    margin:0 0 25px 0;
	    label{
	        .pos;
	        }
	    input{
	        .pos;
	        border:none;
	        .left;
	        margin:8px 3px 0 0;
	        padding:5px 0;
	        text-indent:6px;
	        width:50%;
	        }
	    .submit{
	        cursor:pointer;
            .pos;
            z-index:15;
            width:20px !important;
            background:url("@{img-dir}/searchArrow.png") 6px 5px no-repeat @color-red;
            color:@color-red;
            text-indent:100px;
            overflow:hidden;
            -webkit-appearance:none;
            appearance:none;
            @media @highdensity{
                background:url("@{img-dir}/searchArrow@2x.png") 4px 5px no-repeat @color-red;
                background-size:9px 14px;
                }
	        }
	    }
	.sub-menu{
	    display:none;
	    }
	.footContent{
	    margin:0 0 25px 0;
	    @media @mobile{
	        .pos;
	        .center;
	        width:80%;
	        }
	    @media @iphone{
	        .pos;
	        .center;
	        width:80%;
	        }
	    }
	.span_3{
	   
	    @media @tablet{
	        width:48.2%;
	        min-height:150px;
	        }
	    @media @mobile{
	        width:48.2%;
	        min-height:150px;
	        }
	   @media @iphone{
	        width:48.2%;
	        min-height:150px;
	        }
	    }
	@media @mobile{
	    margin-left:0;
	    }
	@media @iphone{
	    margin-left:0;
	    }
	}