/* FORMS STYLES */
#main .formPage{
    p{
        max-width:99.2%;
        .center;
        }
    }
#main form{
    font-size:17px;
    height:auto;
    margin:35px auto 50px auto;
    &.contactForm{
        border-top:1px solid @color-red;
        padding-top:45px;
        }
    .span_12{
        @media @tablet{
            margin-bottom:30px;
            }
        @media @mobile{
            margin-bottom:20px;
            }
        @media @iphone{
            margin-bottom:20px;
            }
        }
    label{
        .bold;
        margin-bottom:35px;
        input,select{
            margin-top:10px;
            margin-bottom:0;
            }
        }
    .span_6{
        width:47.7%;
        @media @tablet{
            width:98.2%;
            margin-bottom:30px;
            }
        @media @mobile{
            width:98.2%;
            margin-bottom:20px;
            }
        @media @iphone{
            width:98.2%;
            margin-bottom:20px;
            }
        }
    input{
        font-size:17px;
        .bold;
        border:none;
        background-color:@color-lighterGray;
        padding:23px 0 23px 1.2%;
        margin-bottom:35px;
        &.span_12{
            max-width:97.5%;
            }
        &.submit{
            color:#fff;
            background-color:@color-red;
            position:relative;
            display:block;
            float:none;
            clear:both;
            .caps;
            cursor:pointer;
            margin:66px auto 35px auto;
            &:hover{
                background-color:lighten(@color-ltGray, 30%);
                }
            @media @tablet{
                margin:60px auto 30px auto;
                }
            @media @mobile{
                margin:50px auto 20px auto;
                }
            @media @iphone{
                margin:40px auto 20px auto;
                }
            } 
        &[type="checkbox"]{
            display:none;
            }
        &[type="checkbox"] + label span {
            display:inline-block;
            background:@color-lighterGray;
            width:43px;
            height:43px;
            margin:0 3px 0 0;
            vertical-align:middle;
            cursor:pointer;
            }
        &[type="checkbox"]:checked + label span{
            background:@color-red;
            }
        }
    
    .radios{
        .pos;
        padding:12px 0 0 0;
        text-align:left;
        font-weight:normal;
        margin-top:10px;
        margin-bottom:1px;
        label{
            font-weight:normal;
            margin-bottom:10px;
            font-size:.9em;
            @media @tablet-wide{
                width:49.2%;
                }
            @media @tablet{
                width:98.2%;
                }
            @media @mobile{
                width:98.2%;
                margin-bottom:20px;
                }
            @media @iphone{
                width:98.2%;
                margin-bottom:20px;
                }
            }
        }
    select{
        font-size:17px;
        text-transform:capitalize;
        .bold;
        -webkit-appearance:none;
        -moz-appearance: none;
        text-indent:0.01px;
        text-overflow: '';
        appearance:none;
        background:transparent;
        border:none;
        padding:23px 0 23px 1.2%;
        .rounded(0px);
        background:url("@{img-dir}/selectArrow.png") 95% 55% no-repeat @color-lighterGray;
        background-size: 21px 13px;
        &.span_6{
            width:49%;
            margin-bottom:35px;
            }
        &::-ms-expand {
            display: none;
            }
        @media @highdensity{
            background:url("@{img-dir}/selectArrow@2x.png") 95% 55% no-repeat @color-lighterGray;
            background-size: 21px 13px;
            }
        @media @tablet{
            width:100% !important;
            margin-bottom:30px;
            }
        @media @mobile{
            width:100% !important;
            margin-bottom:20px;
            }
        @media @iphone{
            width:100% !important;
            margin-bottom:20px;
            }
        }
    textarea{
        .pos;
        font-size:17px;
        .bold;
        border:none;
        background-color:@color-lighterGray;
        padding:23px 0 10px 1.2%;
        height:120px;
        margin:0 0 35px 5px;
        resize:none;
        float:left;
        clear:both;
        max-width:97.5%;
        @media @tablet{
            max-width:98.2%;
            margin:0 0 30px 0;
            }
        @media @mobile{
            max-width:98.2%;
            margin:0 0 20px 0;
            }
        @media @iphone{
            max-width:98.2%;
            margin:0 0 20px 0;
            }
        }
    }
/* For Firefox version 30 and above */
@-moz-document url-prefix(){
      .ui-select{
          position: relative; 
          overflow: hidden;
     }
     .ui-select select{
          width: 110%; 
          background-position: right 30px center; 
          border: none;
     }
}
#main .dealerSearch{
    margin-top:80px;
    @media @tablet{
        margin-top:50px;
        }
    @media @mobile{
        margin-top:35px;
        }
    @media @iphone{
        margin-top:35px;
        }
    }
#main .dealerResults{
    position:relative;
    margin:40px auto;
    padding:40px 0;
    height:auto;
    border-top:1px solid @color-red;
        @media @mobile{
            width:95%;
            }
        @media @iphone{
            width:95%;
            }
    #map-canvas{
        .pos;
        height:350px;
        @media @mobile{
            width:50%;
            height:250px
            }
        @media @iphone{
            width:50%;
            height:250px
            }
    }
    ul{
        list-style-type:none;
        li{
            .pos;
            font-size:.9em;
            line-height:1.5em;
            margin-bottom:25px;
            }
        }
}
#main .warrantyForm .submit{
    margin:45px auto 0 auto;
    @media @mobile{
        width:100%;
        }
    @media @iphone{
        width:100%;
        }
    }
#main .warrantyForm span{
    .pos;
    line-height:1.4em;
    padding:0;
    margin:5px 0 15px 0;
    &.last{
        margin-bottom:40px;
        }
    }
#main .warrantyForm #line{
        .pos;
        max-width:98.4%;
        height:1px;
        border-bottom:1px solid @color-red;
        padding:0 0 1px 0;
        margin-bottom:35px;
        }
.wpcf7-validates-as-required::-webkit-input-placeholder:before {
  		content:'*';
  	  	color: @color-red;  
  	}
  
  .wpcf7-validates-as-required:-moz-placeholder:before { /* Firefox 18- */
  		content:'*';
  	  	color: @color-red;  
  	}
  
  .wpcf7-validates-as-required::-moz-placeholder:before {  /* Firefox 19+ */
  		content:'*';
  	  	color: @color-red;   
  	}
  
  .wpcf7-validates-as-required:-ms-input-placeholder:before {  
  		content:'*';
  	  	color: @color-red;   
  	}
 .surveyForm input{
     &[type="radio"]{
            display:none;
            }
        &[type="radio"] + label span {
            display:inline-block;
            background:@color-lighterGray;
            width:43px;
            height:43px;
            margin:0 3px 0 0;
            vertical-align:middle;
            cursor:pointer;
            }
        &[type="radio"]:checked + label span{
            background:@color-red;
            }
     }
#main form.surveyForm .surveyBlock{
    display:inline-block;
    vertical-align:top;
    @media @mobile{
        width:100%;
        display:block;
        }
    @media @iphone{
        width:100%;
        display:block;
        }
    .radios label{
        @media @mobile{
        width:100%;
        display:block;
        }
    @media @iphone{
        width:100%;
        display:block;
        }
        }
    }