
/********************
	 GLOBAL STYLES
*********************/

/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN GROUPS  */
.group {
    zoom:1; 
	&:before{
		content:"";
		display:table;
		}
	&:after{
		content:"";
		display:table;
		clear:both;
		}
}

/*  COLUMNS NO WRAP - FIXED NUMBER  */
.col {
	display: table-cell;
	.left;
	margin: 1% 0 1% 1.6%;
	&:first-child{
		margin-left: 0;
		}
}

/*  COLUMNS WRAPPING - INFINITE NUMBER  */
.colWrap {
	display: block;
	.left;
	margin-right: .4%;
	margin-left: .4%;
	max-width:99.2%;
}

/*  COLUMN WIDTHS  */
.span_12 {
	width: 100%;
}

.span_11 {
	width: 91.53%;
}

.span_10 {
	width: 83.06%;
}

.span_9 {
	width: 74.6%;
}

.span_8 {
	width: 66.13%;
}

.span_7 {
	width: 57.66%; 
}

.span_6 {
	width: 49.2%; 
}

.span_5 {
	width: 40.73%; 
}

.span_4 {
	width: 32.26%; 
}

.span_3 {
	width: 23.8%;
}

.span_2 {
	width: 15.33%; 
}

.span_1 {
	width: 6.86%; 
}

/* 5 WIDE */
.span_1of5 {
	width: 18%; 
}


/*  GLOBAL ELEMENTS  */

#j{
    .pos;
    padding:6px;
    text-align:center;
    background-color:#f3f298;
    color:@color-base;
    .bold;
    @media @mobile{
        top:149px;
        }
    @media @iphone{
        top:149px;
        }
    }

#wrapper{
	.pos;
	margin:0;
	width:85%;
	padding:0;
	height:auto;
	min-height:750px;
	max-width:1500px;
	background-color:#fff;
	@media @mobile{
		    .pos;
		    width:100%;
		    margin:0 auto;
		    padding:145px 0 0 0;
	    }
	@media @iphone{
		    .pos;
		    width:100%;
		    margin:0 auto;
		    padding:145px 0 0 0;
		    }
	}
	
#main{
	position:relative;
	display:block;
	margin:0 0 0 210px;
	padding-bottom:65px;
	height:auto;
	min-height:750px;
	max-width:1290px;
	background-color:#fff;
	@media @mobile{
	    margin-left:0;
	    }
	@media @iphone{
	    margin-left:0;
	    }
	}
.content{
	.pos;
	.center;
	padding:0;
	}
	
.illum{
    &:before{
        content:"/ ";
        font-style:italic;
        color:@color-red;
        .bold;
        }
    }
/*  INTERNAL PAGE TEMPLATE  */
#main .content{
    margin:0 0 0 4%;
    p{
        .pos;
        &:first-child:before{
            content:"/ ";
            font-style:italic;
            color:@color-red;
            .bold;
            }
        }
    &.span_11{
        @media @mobile{
            max-width:80%;
            }
        @media @iphone{
            max-width:80%;
            }
        }
    @media @mobile{
        .center;
        }
    @media @iphone{
        .center;
        }
    }
    
 /*  INTERNAL PAGE HEADER  */   
#main #header{
    position:relative;
    height:218px;
    margin: 0 0 35px 0;
    background: url("@{img-dir}/headerPhoto.jpg") center top no-repeat @color-base;
    background-size:cover;
    &.trailers{
        margin-bottom:0;
        @media @mobile{
            margin-bottom:30px;
            }
        @media @iphone{
            margin-bottom:25px;
            }
        }
    &.seriesPages{
        margin-bottom:40px;
        @media @mobile{
            margin-bottom:30px;
            }
        @media @iphone{
            margin-bottom:25px;
            }
        }
    &.accessories{
        margin-bottom:0;
        @media @mobile{
            margin-bottom:30px;
            }
        @media @iphone{
            margin-bottom:25px;
            }
        }
    @media @mobile{
        height:150px;
        margin: 0 0 25px 0;
        }
    @media @iphone{
        height:150px;
        margin: 0 0 25px 0;
        }
    .pageTitle{
        position:relative;
        display:table;
        margin:0 auto;
        height:95%;
        .vertAlign{
            position:relative;
            display:table-cell;
            height:100%;
            vertical-align:bottom;
            }
        h2{
            color:#fff;
            &:after{
                    content: "";
                    background: url("@{img-dir}/redslash.png") no-repeat;
                    background-size:cover;
                    display:inline;
                    float:right;
                    position:relative;
                    margin-top:-40px;
                    width:75px;
                    height:74px;
                    @media @iphone{
                        background: url("@{img-dir}/redslash@2x.png") no-repeat;
                        background-size:cover;
                        width:45px;
                        height:44px;
                        margin-top:-10px;
                        margin-left:-35px;
                        }
                    @media @mobile{
                        background: url("@{img-dir}/redslash@2x.png") no-repeat;
                        background-size:cover;
                        width:45px;
                        height:44px;
                        margin-top:-10px;
                        margin-left:-35px;
                        }
                    @media @tablet{
                        background: url("@{img-dir}/redslash@2x.png") no-repeat;
                        background-size:cover;
                        width:45px;
                        height:44px;
                        margin-top:-10px;
                        }
                    @media @tablet-wide{
                        background: url("@{img-dir}/redslash@2x.png") no-repeat;
                        background-size:cover;
                        width:45px;
                        height:44px;
                        margin-top:-10px;
                        }
                }
            }
        }
    }
