/********************
	  MIXINS
*********************/

.pos{
	position:relative;
	display:block;
	}
.caps{
	text-transform:uppercase;
	}
.bold{
    font-family: @boldFont;
	}
.boldItalic{
    font-family: @boldItalic;
    }
.italic{
    font-family: @defaultItalic;
    }
.uline{
	text-decoration:underline;
	}
.center{
	margin:0 auto;
	}
.red{
    color:@color-red;
    }
.max{
	max-width:960px;
	}
.pad{
	padding:25px 0;
	}
.full-width{
	width:100%;
	height:auto;
	}
.text{
	line-height: 1;
	font-weight:normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	}
.rounded(@radius:10px){
	-webkit-border-radius: @radius;
	-moz-border-radius: @radius;
	-ms-border-radius: @radius;
    -o-border-radius: @radius;
	border-radius: @radius;
}
.cover{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    }
.dropShadow(@vals:1px 1px 4px 0px rgba(89, 89, 89, .4)){
	-webkit-box-shadow: @vals;
	-moz-box-shadow: @vals;
	box-shadow: @vals;
}
.innerShadow(@in-vals:inset 1px 1px 4px 0px rgba(63, 63, 63, .9)){
	-webkit-box-shadow: @in-vals;
	-moz-box-shadow: @in-vals;
	box-shadow: @in-vals;
}
.clear{
    position:relative;
    display:block;
    clear:both;
    width:100%;
    }
.right{
	float:right;
	}
.left{
	float:left;
	}