/* NAVIGATION */
	
#left-nav{
    position:absolute;
    display:block;
    height:100%;
    left:0;
    margin:0;
    padding:0;
    background-color:@color-base;
    width:210px;
    z-index:1000;
    @media @mobile{
        position:fixed;
        height:auto;
        width:100%;
        margin:0;
        top:0;
        padding:0;
        clear:both;
        background-color:@color-base;
        z-index:100;
        .logoLink{
            display:none;
            }
        }
    @media @iphone{
        position:fixed;
        height:auto;
        width:100%;
        margin:0;
        padding:0;
        top:0;
        clear:both;
        background-color:@color-base;
        z-index:1000;
        .logoLink{
            display:none;
            }
        }
    .trailerMobile{
        display:none;
        height:70px;
        @media @mobile{
            .pos;
            border-top:1px solid @color-red;
            a{
                .pos;
                padding:26px 0 26px 30px;
                font-size:17px;
                color:#fff;
                font-style:italic;
                .caps;
                background:url("@{img-dir}/redArrowSprite@2x.png") 93% 30px no-repeat;
                background-size: 14px 50px;
                height:18px;
                }
            }
        @media @iphone{
            .pos;
            border-top:1px solid @color-red;
            a{
                .pos;
                padding:26px 0 26px 30px;
                font-size:17px;
                color:#fff;
                font-style:italic;
                .caps;
                background:url("@{img-dir}/redArrowSprite@2x.png") 93% 30px no-repeat;
                background-size: 14px 50px;
                height:18px;
                }
            }
        }
    .mobileHeader{
        display:none;
        @media @mobile{
            .pos;
            z-index:10000;
            height:43px;
            padding:16px 0;
            a{
                text-align:center;
                img{
                    .pos;
                    .center;
                    top:5px;
                    }
                }
            }
        @media @iphone{
            .pos;
            z-index:10000;
            height:43px;
            padding:16px 0;
            a{
                text-align:center;
                img{
                    .pos;
                    .center;
                    top:5px;
                    }
                }
            }
        }
    .content{
        .pos;
        width:100%;
        @media @mobile{
            height:auto;
            width:100%;
            margin:0;
            padding:0;
            }
        @media @iphone{
            height:auto;
            width:100%;
            margin:0;
            padding:0;
            }
        }
    .logo{
		.pos;
		margin:91px auto 0 auto;
		max-width:177px;
		width:90%;
		height:auto;
		@media @mobile{
		    .pos;
		    margin:0 auto;
		    }
		@media @iphone{
		    .pos;
		    margin:0 auto;
		    }
		}
    }
#left-nav .menu-main-menu-container{
    .pos;
    overflow:visible;
    height:auto;
    margin:20px auto 0 auto;
    @media @mobile{
        display:none;
        height:auto;
        margin:0 auto;
        background-color:@color-base;
        padding:0;
        }
    @media @iphone{
        display:none;
        margin:0 auto;
        padding:0;
        background-color:@color-base;
        }
    .menu{
        .pos;
        list-style-type:none;
        padding:0;
        .menu-item{
            .pos;
            margin:0;
            padding:0;
            max-width:100%;
            border-bottom:1px solid @color-red;
            &:hover{
                background-color: @color-red;
                }
            &:first-child{
                border-top:1px solid @color-red;
                }
            &.active{
                background-color: @color-red;
                }
            a{
                .pos;
                width:90%;
                padding:26px 0 26px 10%;
                .caps;
                font-size:15px;
                color:#fff;
                font-style:italic;
                @media @mobile{
                    padding-left:35px;
                    font-size:17px;
                    }
                @media @iphone{
                    padding-left:35px;
                    font-size:17px;
                    }
                }
            }
        }
   .menu-item .sub-menu{
        position:absolute;
        display:none;
        width:0;
        top:0;
        left:210px;
        background-color:@color-red;
        overflow:hidden;
        border-left:1px solid @color-base;
        li{
            background-color:@color-red;
            border-bottom-color:@color-base;
            &:hover{
                background-color:@color-base;
                }
            @media @mobile{
                background-color:@color-ltGray;
                &:hover{
                    background-color:@color-lighterGray;
                    } 
                }
            @media @iphone{
                background-color:@color-ltGray;
                &:hover{
                    background-color:@color-lighterGray;
                    } 
                }
            &:first-child{
                border-top-color:@color-base;
                }
            }
        a{
            color:#fff;
            font-style:italic;
            text-transform:capitalize;
            &:hover{
                color:#fff;
                 @media @mobile{
                    color:@color-base;
                    }
                @media @iphone{
                    color:@color-base;
                    }
                }
            }
        @media @mobile{
            position:relative;
            display:none;
            width:100%;
            left:0;
            }
        @media @iphone{
            position:relative;
            display:none;
            width:100%;
            left:0;
            }
        }
    }
#floatingBox{
    background-color: @color-base;
    .pos;
    width:210px;
    z-index:5000;
    left:0;
    @media @mobile{
        display:none;
        }
    @media @iphone{
        display:none;
        }
    ul{
        list-style-type:none;
        li{
            background-color:@color-ltGray;
            border-bottom:2px solid @color-base;
            margin:0;
            &:hover{
                background-color:@color-lighterGray;
                }
            &.spec a{
                    .pos;
                    padding:0;
                    text-align:center;
                    width:104px;
                    height:67px;
                    border-bottom:none;
                    }
            .spec{
                width:104px;
                }
            .secBtn{
                background:url("@{img-dir}/hamburger.png") 42px 30% no-repeat;
                vertical-align:bottom;
                color:@color-red;
                line-height:6.4em;
                font-size:.9em;
                text-transform:lowercase;
                @media @highdensity{
                    background:url("@{img-dir}/hamburger@2x.png") 42px 30% no-repeat;
                    background-size:19px 18px;
                    }
                }
             .srchBtn{
                background:url("@{img-dir}/search.png") 40px 30% no-repeat;
                vertical-align:bottom;
                color:@color-red;
                line-height:6.4em;
                font-size:.9em;
                text-transform:lowercase;
                @media @highdensity{
                    background:url("@{img-dir}/search@2x.png") 40px 30% no-repeat;
                    background-size:19px 18px;
                    }
                }
            a{
                .pos;
                .caps;
                font-size:15px;
                font-style:italic;
                padding:26px 0 26px 10%;
                color:lighten(@color-base,75%);
                &:hover{
                    color: @color-red;
                    }
                
                }
            }
        }
    }
#left-nav #secondaryMenu{
    position:absolute;
    display:none;
    width:0;
    left:210px;
    height:100%;
    top:0;
    background-color:@color-lighterGray;
    z-index:-10;
    overflow:hidden;
    border-left:1px solid @color-ltGray;
    .menu{
        .pos;
        list-style-type:none;
        padding:0;
        margin:148px 0 0 0;
        width:210px;
        .current-menu-item {
             background-color: @color-medGray;
             }
        .menu-item{
            .pos;
            margin:0;
            padding:0;
            max-width:100%;
            border-bottom:1px solid @color-red;
            &:hover{
                background-color:@color-medGray;
                }
            .red{
                background-color:@color-red;
                }
            &:first-child{
                border-top:1px solid @color-red;
                }
            a{
                .pos;
                width:90%;
                padding:26px 0 26px 10%;
                text-transform:capitalize;
                font-size:15px;
                color:@color-base;
                font-style:italic;
                }
            }
        }
    }
#left-nav #searchMenu{
    position:absolute;
    display:none;
    width:0;
    left:210px;
    height:100%;
    top:0;
    background-color:@color-lighterGray;
    z-index:-10;
    overflow:hidden;
    border-left:1px solid @color-ltGray;
    ul{
        .pos;
        list-style-type:none;
        padding:0;
        margin:172px 0 0 0;
        width:210px;
        li{
            .pos;
            margin:26px auto;
            padding:0;
            max-width:88%;
            .caps;
            font-style:italic;
            form{
                position:relative;
                display:table;
                padding:0;
                width:100%;
                label{
                    font-size:15px;
                    }
                input{
                    .pos;
                    .left;
                    margin-top:15px;
                    padding:0 0 0 6px;
                    width:119px;
                    max-width:125px !important;
                    height:30px;
                    max-height:30px;
                    border:none;
                    background-color:@color-red;
                    color:#fff;
                    font-size:15px;
                    font-family:@defaultFont;
                &::-webkit-input-placeholder { /* WebKit browsers */
                    color:#fff;
                    }
                
                &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
                    color:#fff;
                    opacity:1;
                    }
                &::-moz-placeholder { /* Mozilla Firefox 19+ */
                    color:#fff;
                    opacity:1;
                    }
                &:-ms-input-placeholder { /* Internet Explorer 10+ */
                    color:#fff;
                    }
                    -webkit-appearance:none;
                    appearance:none;
                }
                .search-field{
                        width:125px !important;
                        padding:0 0 0 6px;
                        text-ndent:0;
                    }
                .submit, .search-submit{
                    cursor:pointer;
                    .pos;
                    .left;
                    z-index:15;
                    width:14px !important;
                    background:url("@{img-dir}/searchArrow.png") 0 9px no-repeat @color-red;
                    color:@color-red;
                    text-indent:100px;
                    overflow:hidden;
                    -webkit-appearance:none;
                    appearance:none;
                    @media @highdensity{
                        background:url("@{img-dir}/searchArrow@2x.png") 0 8px no-repeat @color-red;
                        background-size:9px 14px;
                        }
                    }
                }
            a{
                .pos;
                width:90%;
                padding:26px 0 26px 10%;
                text-transform:capitalize;
                font-size:15px;
                color:@color-base;
                font-style:italic;
                }
            }
        }
    }
#bigRedMenu{
    position:absolute;
    display:none;
    width:100%;
    height:auto;
    min-height:200%;
    background-color:@color-red;
    top:0;
    margin-left:-100%;
    z-index:10000;
    .closeBtn{
        .pos;
        width:25px;
        padding:25px;
        margin-top:10px;
        background:url("@{img-dir}/closeX.png")50% 50% no-repeat;
        @media @mobile{
            background:url("@{img-dir}/closeX@2x.png")50% 50% no-repeat;
            background-size:15px 15px;
            }
        @media @iphone{
            background:url("@{img-dir}/closeX@2x.png")50% 50% no-repeat;
            background-size:15px 15px;
            }
        }
    .menu-secondary-menu-container{
        .pos;
        width:100%;
        padding:0 0 100% 0;
        height:100%;
        .menu-item{
            .pos;
            width:100%;
            margin:0;
            padding:0;
            border-bottom:1px solid @color-base;
            &:hover{
                background-color:#fff;
                }
            a{
                .pos;
                color:#fff;
                padding:26px 0 26px 25px;
                font-size:17px;
                .caps;
                font-style:italic;
                &:hover{
                    color:@color-base;
                    }
                }
            }
        }
    }
#bigRedSearch{
    position:fixed;
    display:none;
    min-width:100%;
    min-height:150%;
    background-color:@color-red;
    top:0;
    margin-left:-100%;
    z-index:10000;
    .closeSearchBtn{
        .pos;
        width:25px;
        padding:25px;
        margin-top:10px;
        .right;
        z-index:10;
        background:url("@{img-dir}/closeX.png")50% 50% no-repeat;
        @media @mobile{
            background:url("@{img-dir}/closeX@2x.png")50% 50% no-repeat;
            background-size:15px 15px;
            }
        @media @iphone{
            background:url("@{img-dir}/closeX@2x.png")50% 50% no-repeat;
            background-size:15px 15px;
            }
        }
    #socialMobile{
        .pos;
        width:65%;
        min-width:250px;
        margin:100px auto 0 auto;
        text-align:center;
        .section{
            width:90px;
            .center;
            }
        .facebook{
            .pos;
            width:35px;
            height:29px;
            background:url("@{img-dir}/facebook.png") 50% 50% no-repeat;
            background-size:15px 29px;
            }
        .twitter{
            .pos;
            .right;
            width:35px;
            height:29px;
            background:url("@{img-dir}/twitter.png") 50% 50% no-repeat;
            background-size:35px 29px;
            }
        .youtube{
            .pos;
            .right;
            width:25px;
            height:29px;
            background:url("@{img-dir}/youTubeWhite.png") 50% 50% no-repeat;
            background-size:25px 29px;
            }
        }
    form{
        .pos;
        width:60%;
        min-width:250px;
        margin:20px auto 130px auto;
        text-align:center;
        label{
            .pos;
            width:85%;
            color:#fff;
            font-size:17px;
            .caps;
            text-indent:40px;
            }
        input{
            .pos;
            .left;
            margin:10px auto;
            border:none;
            padding:12px;
            width:86%;
            }
        .search-field{
            width:94.5%;
            }
        .submit, .search-submit{
            cursor:pointer;
            .pos;
            .left;
            z-index:15;
            width:35px !important;
            margin-left:5px;
            background:url("@{img-dir}/searchArrow.png") 13px 12px no-repeat @color-base;
            color:@color-red;
            text-indent:100px;
            overflow:hidden;
            -webkit-appearance:none;
            appearance:none;
            @media @highdensity{
                background:url("@{img-dir}/searchArrow@2x.png") 13px 12px no-repeat @color-base;
                background-size:9px 14px;
                }
            }
        }
    }