/* SIDEBAR STYLES */

.sideBar{
    .center;
    ul{
        .pos;
        width:90%;
        margin:40px auto 25px auto;
        list-style-type:none;
        .sidebarTitle{
            .pos;
            .bold;
            color:@color-red;
            .caps;
            }
        li{
            .pos;
            color:@color-base;
            margin:10px 0;
            }
        a{
            color:@color-base;
            &:hover{
                color:@color-red;
                }
            }
            &.arch a{
            .pos;
            color:@color-base;
            margin:10px 0;
            &:hover{
                color:@color-red;
                }
            }
        }
    }