/* slideshow styles */

#main .slideshow-wrapper{
    .pos;
    margin:25px auto 40px auto;
    overflow:hidden;
    height:auto;
    z-index:1;
    @media @mobile{
        width:100%;
        margin-bottom:5px;
        }
    @media @iphone{
        width:100%;
        margin-bottom:5px;
        }
    .slide-nav{
        position:absolute;
        display:block;
        float:left;
        width:100%;
        height:60%;
        z-index:0;
        .prev{
            .pos;
            float:left;
            top:45%;
            width:25px;
            height:30px;
            background:url("@{img-dir}/controls.png") 5px 0px no-repeat;
            @media @mobile{
                background:url("@{img-dir}/controls@2x.png") 5px 0px no-repeat;
                background-size:63px 59px;
                }
            @media @iphone{
                background:url("@{img-dir}/controls@2x.png") 5px 0px no-repeat;
                background-size:63px 59px;
                }
            }
        .next{
            .pos;
            top:45%;
            .right;
            width:25px;
            height:30px;
            background:url("@{img-dir}/controls.png") -40px 0px no-repeat;
            @media @mobile{
                background:url("@{img-dir}/controls@2x.png") -40px 0px no-repeat;
                background-size:63px 59px;
                }
            @media @iphone{
                background:url("@{img-dir}/controls@2x.png") -40px 0px no-repeat;
                background-size:63px 59px;
                }
            }
        }
    .slide-view{
        .pos;
        .center;
        height:auto;
        min-height:300px;
        overflow:hidden;
        z-index:1;
        @media @mobile{
            min-height:230px;
            }
        @media @iphone{
            min-height:230px;
            }
        }
    .slider{
        position:relative;
        display:table;
        float:left;
        height:auto;
        min-height:350px;
        margin-bottom:8px;
        @media @mobile{
            min-height:250px;
            }
        @media @iphone{
            min-height:250px;
            }
        li{
            position:relative;
            display:table-cell;
            float:left;
            width:auto;
            height:100%;
            vertical-align:middle;
            img{
                .pos;
                margin:50px auto 0 auto;
                width:480px;
                max-width:100%;
                height:auto;
                }
            }
        }
    .thumbs{
        .pos;
        .center;
        width:85%;
        height:auto;
        z-index:1000;
        @media @mobile{
            width:100%;
            
            }
        @media @iphone{
            width:100%;
            
            }
        .thumb{
            position:relative;
            display:inline-block;
            float:none;
            width:10%;
            margin:5px 2.5%;
            cursor:pointer;
            height:65px;
            @media @mobile{
                width:8%;
                margin:5px 2%;
                height:35px;
                }
            @media @iphone{
                width:8%;
                margin:5px 2%;
                height:35px;
                }
            img{
                .pos;
                .center;
                width:100%;
                max-width:84px;
                padding-bottom:10px;
                cursor:pointer;
                &.cur{
                    border-bottom:4px solid @color-red;
                    }
                }
            }
        }
    .gallery-caption{
        position:absolute;
        display:block;
        float:left;
        width:auto;
        font-size:16px;
        padding:6px 50px 6px 10px;
        background-color:@color-red;
        color:#fff;
        .bold;
        .caps;
        z-index:100;
        margin-left:2px;
        &:after{
            content:"";
            position:absolute;
            display:block;
            width:25px;
            height:25px;
            background:transparent;
            border-top:28px solid @color-red;
            border-right:28px solid transparent;
            top:0;
            right:-32px;
            }
        }
    }