
@charset "UTF-8";

@import "less/constants.less";
@import "less/mixins.less";
@import "less/normalize.less";
@import "less/fonts.less";
@import "less/globals.less";
@import "less/nav.less";
@import "less/footer.less";
@import "less/forms.less";
@import "less/slider.less";
@import "less/sidebar.less";
    
/***************************** 
    PAGE SPECIFIC STYLES
******************************/

/* home page */
#pageHeader{
    height:auto;
    margin: 0 0 80px 0;
    background-color:lighten(@color-ltGray, 5%);
    overflow:hidden;
    @media @mobile{
        margin-bottom:30px;
        }
    @media @iphone{
        margin-bottom:30px;
        }
    .homeslider{
        width:100%;
        @media @mobile{
            width:200%;
            }
        @media @iphone{
            width:200%;
            }
        }
    .topPhotos{
        .pos;
        height:218px;
        z-index:1;
        @media @tablet{
            height:165px;
            }
        @media @mobile{
            height:88px;
            float:left;
            width:50%;
            }
        @media @iphone{
            height:88px;
            float:left;
            width:50%;
            }
        .atv{
            .pos;
            float:left;
            width:30%;
            height:100%;
            background:url("@{img-dir}/atv.jpg") 5% 0 no-repeat;
            .cover;
            }
        .snow{
            .pos;
            float:left;
            width:40%;
            height:100%;
            background:url("@{img-dir}/snow.jpg") center 25% no-repeat;
            .cover;
            }
        .bike{
            .pos;
            float:left;
            width:30%;
            height:100%;
            background:url("@{img-dir}/bike.jpg") right 0 no-repeat;
            .cover;
            }
        }
    .bottomPhotos{
        .pos;
        height:204px;
        z-index:1;
        @media @tablet{
            height:150px;
            }
        @media @tablet-wide{
            height:150px;
            }
        @media @mobile{
            height:88px;
            float:left;
            width:50%;
            }
        @media @iphone{
            height:88px;
            float:left;
            width:50%;
            }
        .mower{
            .pos;
            float:left;
            width:27%;
            height:100%;
            background:url("@{img-dir}/mower.jpg") left 0 no-repeat;
            .cover;
            }
        .motorcross{
            .pos;
            float:left;
            width:27%;
            height:100%;
            background:url("@{img-dir}/motorcross.jpg") left 0 no-repeat;
            .cover;
            }
        .boat{
            .pos;
            float:left;
            width:46%;
            height:100%;
            background:url("@{img-dir}/boat.jpg") right 25% no-repeat;
            .cover;
            }
        }
    @media @mobile{
        height:88px;
        overflow:hidden;
        width:auto;
        }
    @media @iphone{
        height:88px;
        overflow:hidden;
        width:auto;
        }
    #pageHeadline{
        position:relative;
        display:table;
        background-color:@color-red;
        height:204px;
        z-index:1;
        overflow:visible;
        @media @tablet{
            height:150px;
            }
        @media @tablet-wide{
            height:150px;
            }
        @media @mobile{
            display:none;
            }
        @media @iphone{
            display:none;
            }
        .headline{
            position:relative;
            display:table-cell;
            vertical-align:middle;
            .center;
            height:100%;
            h1{
                max-width:90%;
                color:#fff;
                @media @tablet{
                    font-size:2.4em;
                    }
                @media @mobile{
                    font-size:1.8em;
                    }
                &:after{
                    content: "";
                    background: url("@{img-dir}/whiteSlash.png") no-repeat;
                    .cover;
                    display:inline-block;
                    position:absolute;
                    margin:-10px 0 0 10px;
                    width:76px;
                    height:74px;
                    @media @mobile{
                        background: url("@{img-dir}/whiteSlash@2x.png") no-repeat;
                        .cover;
                        width:45px;
                        height:44px;
                        margin-top:3px;
                        }
                    @media @tablet{
                        background: url("@{img-dir}/whiteSlash@2x.png") no-repeat;
                        .cover;
                        width:45px;
                        height:44px;
                        margin-top:-3px;
                        }
                    @media @tablet-wide{
                        background: url("@{img-dir}/whiteSlash@2x.png") no-repeat;
                        .cover;
                        width:45px;
                        height:44px;
                        margin-top:3px;
                        }
                    }
                }
            }
        
        }
    }
#main .newsPost ul{
    padding-left:20px;
    line-height:1.5em;
    margin-bottom:15px;
    }
#main .storyBlock{
    position:relative;
    display:table;
    margin:0 auto 45px auto;
    height:auto;
    @media @mobile{
        width:100%;
        }
    @media @iphone{
        width:100%;
        }
    h5{
        text-transform:none;
        }
    p{
        .pos;
        &:first-child:before{
            content:"";
            }
        }
    .imgBox{
        text-align:center;
        }
    .textBox{
        position:relative;
        display:table-cell;
        height:100%;
        vertical-align:middle;
        text-align:left;
        .text{
            p{
                max-width:460px;
                }
            @media @tablet{
                display:block;
                }
            @media @mobile{
                display:block;
                }
            @media @iphone{
                display:block;
                }
            }
    .span_6{
        img{
            height:auto;
            width:100%;
            max-width:395px;
            .center;
            &:nth-child(odd){
                float:left;
                @media @mobile{
                    float:none;
                    }
                @media @iphone{
                    float:none;
                    }
                }
            @media @mobile{
                .pos;
                .center;
                float:none;
                max-width:80%;
                }
            @media @iphone{
                .pos;
                .center;
                float:none;
                max-width:80%;
                }
            }
        @media @tablet{
            position:relative;
            display:block;
            width:100%;
            height:auto;
            margin:0 auto 15px auto;
            float:none;
            clear:both;
            }
        @media @mobile{
            position:relative;
            display:block;
            width:100%;
            height:auto;
            margin:0 auto 15px auto;
            float:none;
            clear:both;
            }
        @media @iphone{
            position:relative;
            display:block;
            width:100%;
            height:auto;
            margin:0 auto 15px auto;
            float:none;
            clear:both;
            }
        }
        }
    
    }
    
/* TRAILERS PAGES */

.sub{
    position:relative;
    display:block;
    height:72px;
    background-color:@color-lighterGray;
    margin:0 0 35px 0;
    @media @mobile{
        display:none;
        }
    @media @iphone{
        display:none;
        }
    .sub-menu{
        position:relative;
        width:100%;
        height:100%;
        display:block;
        li{
            position:relative;
            display:table;
            width:20%;
            text-align:center;
            height:100%;
            float:left;
            &:hover{
                background-color:lighten(@color-ltGray, 60%);
                }
            a{
                position:relative;
                display:table-cell;
                color:@color-base;
                text-transform:capitalize;
                font-size:15px;
                .italic;
                vertical-align:middle;
                height:100%;
                &:hover{
                    color:@color-red;
                    }
                &.active{
                    color:@color-red;
                    }
                @media @tablet{
                    font-size:14px;
                    }
                }
            }
        }
    }
.trailerBox{
    position:relative;
    display:table;
    .center;
    padding:25px 0;
    border-bottom:1px solid @color-red;
    &:last-child{
        border-bottom:none;
        }
    h5{
        text-transform:capitalize;
        font-size:1.7em;
        }
    .trailerImg{
        .pos;
        width:100%;
        max-width:350px;
        height:auto;
        .center;
        }
    .moreBtn{
        .pos;
        width:88px;
        height:25px;
        margin-top:35px;
        background: url("@{img-dir}/moreBtn@2x.png") top center no-repeat;
        background-size: 88px 25px;
        }
    .span_6{
        @media @tablet{
            width:100%;
            }
        @media @mobile{
            width:100%;
            }
        @media @iphone{
            width:100%;
            }
        }
    ul{
        list-style-type:none;
        li{
            .pos;
            margin:0 0 8px 0;
            font-size:.9em;
            line-height:1.4em;
            padding-left:10px;
            &:before{
                content:"• ";
                color:@color-red;
                .bold;
                margin-left:-10px;
                }
            }
        }
    }
.compareSpecs{
    .pos;
    width:172px;
    height:32px;
    margin:10px 0 25px 0;
    background: url("@{img-dir}/compareSpecs.png") no-repeat;
    @media @highdensity{
        background: url("@{img-dir}/compareSpecs@2x.png") no-repeat;
        background-size:172px 32px;
        }
    }
.featuresList,.specTable,.brochuresSection,.accessoriesSection{
    .pos;
    margin:40px auto;
    @media @mobile{
        margin:20px auto;
        }
    @media @iphone{
        margin:20px auto;
        }
    }
.featuresList{
    ul{
        .pos;
        list-style-type:none;
        margin:15px auto 5px auto;
        padding:0;
        li{
            position:relative;
            display:inline-block;
            font-size:1em;
            line-height:1.3em;
            margin:0 2.6% 12px 0;
            width:47%;
            padding:0;
            vertical-align:top;
            @media @mobile{
                width:100%;
                margin-right:0;
                }
            @media @iphone{
                width:100%;
                margin-right:0;
                }
            }
        }
    }
.specTable{
    p{
            text-align:center;
            }
    .specpdf{
        position:relative;
        display:inline-block;
        clear:none;
        width:146px;
        height:32px;
        background:url("@{img-dir}/specpdf.png") top center no-repeat;
        margin:25px 0 15px 0;
        @media @highdensity{
            background:url("@{img-dir}/specpdf@2x.png") top center no-repeat;
            .cover;
            }
        }
    .legend{
        position:relative;
        display:block;
        float:right;
        height:32px;
        margin-top:35px;
        width:auto;
        min-width:25%;
        text-align:right;
        span{
            font-size:.9em;
            margin-left:25px;
            &.standard:before{
                content:" ";
                position:relative;
                display:inline-block;
                top:1px;
                left:-6px;
                width:8px;
                height:8px;
                .rounded(6px);
                background-color:@color-base;
                border:1px solid @color-base;
                }
            &.optional:before{
                content:" ";
                position:relative;
                display:inline-block;
                top:1px;
                left:-6px;
                width:8px;
                height:8px;
                .rounded(6px);
                background-color:transparent;
                border:1px solid @color-base;
                }
            }
        }
    }
.specTable .specs{
    font-size:.9em;
    tr{
        vertical-align:middle;
        }
    th{
        background-color:@color-base;
        color:#fff;
        border:2px solid #fff;
        height:24px;
        padding:3px 0;
        .bold;
        text-align:center;
        }
     
        td{
            width:20.5%;
            background-color:@color-lighterGray;
            border:2px solid #fff;
            text-align:center;
            .std,.opt{
                .pos;
                }
            .std:before{
                content:" ";
                position:relative;
                display:block;
                .center;
                width:7px;
                height:7px;
                .rounded(6px);
                background-color:@color-base;
                border:1px solid @color-base;
                }
            .opt:before{
                content:" ";
                position:relative;
                display:block;
                .center;
                width:7px;
                height:7px;
                .rounded(6px);
                background-color:transparent;
                border:1px solid @color-base;
                }
            a{
                .pos;
                width:100%;
                height:100%;
                padding:8px 0;
                color:#fff;
                background-color:@color-red;
                white-space:nowrap;
                .bold;
                .caps;
                &:hover{
                    background-color:lighten(@color-ltGray,50%);
                    }
                @media @mobile{
                    padding:9px 0;
                    }
                @media @iphone{
                    padding:9px 0;
                    }
                }
            }
       .col0{
        background-color:@color-base;
        color:#fff;
        border:2px solid #fff;
        height:24px;
        padding:3px 0;
        width:18%;
        text-align:left;
        padding-left:10px;
        }
    }
.brochpdf{
        position:relative;
        display:inline-block;
        clear:none;
        width:146px;
        height:32px;
        background:url("@{img-dir}/brochpdf.png") top center no-repeat;
        margin:25px 0 15px 0;
        @media @highdensity{
            background:url("@{img-dir}/brochpdf@2x.png") top center no-repeat;
            .cover;
            }
        }
.accessoriesSection{
    .accesspdf{
        position:relative;
        display:inline-block;
        clear:none;
        width:146px;
        height:32px;
        background:url("@{img-dir}/accesspdf.png") top center no-repeat;
        margin:25px 0 15px 0;
        @media @highdensity{
            background:url("@{img-dir}/accesspdf@2x.png") top center no-repeat;
            .cover;
            }
        }
    h4
    {
		color: @color-red;
		font-size: 1.1em;
		font-weight: bold;
    }
    ul{
        margin:15px auto 25px auto;
        list-style-type:none;
        li{
            position:relative;
            float:none;
            margin-bottom:15px;
            display:inline-block;
            vertical-align:top;
            @media @tablet-wide{
                width:32.26%;
                }
            @media @tablet{
                width:49.2%;
                }
            @media @mobile{
                width:98.2%;
                }
            @media @iphone{
                width:98.2%;
                }
            a{
                font-size:.9em;
                color:@color-base;
                &:hover{
                    color:@color-red;
                    }
                }
            }
        }    
    }
    
/* ACCESSORIES PAGE */
#main .backLink{
    .pos;
    margin:25px 0;
    text-align:left;
    width:25px;
    height:30px;
    background:url("@{img-dir}/controls.png") 5px 0px no-repeat;
    @media @mobile{
        background:url("@{img-dir}/controls@2x.png") 5px 0px no-repeat;
        background-size:63px 59px;
        }
    @media @iphone{
        background:url("@{img-dir}/controls@2x.png") 5px 0px no-repeat;
        background-size:63px 59px;
        }
    }
.wp-post-image{
    .pos;
    margin:30px auto;
    max-width:100%;
    height:auto;
    }
    
/* POSTS STYLES */
.post, .job{
        margin-bottom:40px;
        padding-bottom:10px;
        border-bottom: 1px solid @color-red;
        &:last-child{
            border-bottom:none;
            }
        h5{
            a{ 
                text-transform:none;
                color:@color-base;
                &:hover{
                    color:@color-red;
                    }
                }
            }
        p.illum{
            &:before{
                content:"";
                }
            }
        .moreLink{
            font-size:.9em;
            .pos;
            margin:0 0 10px 0;
            width:150px;
            }
        
        }
.postDate-main{
            .pos;
            font-size:.9em;
            margin:0 0 10px 0;
            color:lighten(@color-base, 50%);
            }
.breadcrumbs{
    font-size:.8em;
    a{
        color:@color-ltGray;
        &:hover{
            color:@color-red;
            }
        &:after{
            content:"-> ";
            margin-right:6px;
            }
        }
    }
    .shareLinks{
        .pos;
        margin:40px auto;
        .fb-share{
            position:relative;
            display:inline-block;
            margin-left:20px;
            width:22px;
            height:18px;
            background:url("@{img-dir}/fb-share.png") top center no-repeat;
            @media @highdensity{
                background:url("@{img-dir}/fb-share@2x.png") top center no-repeat;
                background-size:10px 18px;
                }
            }
        .tw-share{
            position:relative;
            display:inline-block;
            margin-left:20px;
            width:22px;
            height:18px;
            background:url("@{img-dir}/tw-share.png") top center no-repeat;
            @media @highdensity{
                background:url("@{img-dir}/tw-share@2x.png") top center no-repeat;
                background-size:18px 18px;
                }
            }
        .gp-share{
            position:relative;
            display:inline-block;
            margin-left:20px;
            width:22px;
            height:18px;
            background:url("@{img-dir}/gp-share.png") top center no-repeat;
            @media @highdensity{
                background:url("@{img-dir}/gp-share@2x.png") top center no-repeat;
                background-size:18px 18px;
                }
            }
        .getLink{
            position:relative;
            display:inline-block;
            margin-left:20px;
            width:22px;
            height:18px;
            background:url("@{img-dir}/getlink.png") top center no-repeat;
            @media @highdensity{
                background:url("@{img-dir}/getlink@2x.png") top center no-repeat;
                background-size:18px 18px;
                }
            }
        .linkview{
            position:relative;
            display:block;
            width:250px;
            font-size:13px;
            border:none;
            background-color:@color-lighterGray;
            padding:10px 0 10px 1.2%;
            margin:10px 0;
            @media @mobile{
                width:100%;
                }
            @media @iphone{
                width:100%;
                }
            }
        }
.single{
    h5{ 
        text-transform:none;
        }
    }
.postnavigation{
    .pos;
    width:100%;
    .center;
    .newer{
        width:50%;
        float:left;
        }
    .older{
        width:50%;
        float:right;
        text-align:right;
        }
    }
 .apppdf{
     .pos;
     width:154px;
     height:32px;
     background:url("@{img-dir}/apppdf.png") top center no-repeat;
     @media @highdensity{
         background:url("@{img-dir}/apppdf@2x.png") top center no-repeat;
         background-size: 154px 32px;
         }
     }   
 #main .content #postForm{
        .pos;
        padding:0;
        height:32px;
        margin:20px 0;
        width:100%;
        overflow:hidden;
        .comment-notes{
            display:none;
            }
        .postComment{
            position:relative;
            display:block;
            margin:0;
            width:140px;
            height:32px;
            background:url("@{img-dir}/postComment.png") top center no-repeat;
            @media @highdensity{
                background:url("@{img-dir}/postComment@2x.png") top center no-repeat;
                .cover;
                }
            }
        #reply-title{
            display:none
            }
        p:first-child{
            a{
                position:relative;
                display:inline;
                &:last-child{
                    margin-left:20px;
                    }
                }
            &:before{
                content:' ';
                }
            }
        
        }
#main #postForm form{
            .pos;
            margin-top:0;
            p{
                margin:5px 0;
                padding:0;
                }
            label{
                    display:none;
                    }
            .comment-form-comment{
                .pos;
                width:100%;
            }
#postForm .form-submit{
    width:49.2%;
    }
textarea#comment, input#author, input#email, input#url{
                    .pos;
                    margin:0 0 20px 0 !important;
                    padding:5px 0 5px 10px !important;
                    font-size:.9em;
                    .italic;
                    z-index: 999;
                    @media @mobile{
                        width:100%;
                        }
                    @media @iphone{
                        width:100%;
                        }
                    }
                input#submit{
                    .pos;
                    margin:0 0 20px 0 !important;
                    padding:10px 0 !important;
                    font-size:13px;
                    font-weight:normal;
                    width:20%;
                    @media @mobile{
                        width:50%;
                        }
                    @media @iphone{
                        width:50%;
                        }
                    }
                #comment{
                    text-indent:0;
                    height:100px;
                    }
                }
    .sideBar{
        @media @mobile{
            display:none;
            }
        @media @iphone{
            display:none;
            }
        }

.newsPage .span_9, .single .span_9{
    @media @mobile{
            width:100%;
            }
        @media @iphone{
            width:100%;
            }
    }
.newsPage .postImage{
    .pos;
    max-height:400px;
    margin:25px 0 15px 0;
    @media @mobile{
        max-height:300px;
        margin:15px 0 15px 0;
        }
    @media @iphone{
        max-height:300px;
        margin:15px 0 15px 0;
        }
    .fve-video-wrapper{
        width:auto;
        height:auto;
        max-height:400px;
        @media @mobile{
            max-height:300px;
            }
        @media @iphone{
            max-height:300px;
            }
        }
    }
.single .postImage img{
    .pos;
    max-height:400px;
    margin:40px 0 15px 0;
    @media @mobile{
        max-height:300px;
        margin:25px 0 15px 0;
        }
    @media @iphone{
        max-height:300px;
        margin:25px 0 15px 0;
        }
    }

.nocomments{
    .pos;
    .bold;
    margin:25px 0;
    }
#comments{
    .pos;
    margin:25px auto;
    padding:25px 0;
    border-top:1px solid @color-red;
    }
#postedComments{
    list-style-type:none;
    .authorAvatar{
        position:relative;
        display:inline-block;
        vertical-align:bottom;
        width:48px;
        height:48px;
        margin:10px 0;
        .avatar{
            width:100%;
            height:auto;
            }
        }
    .authorInfo{
        position:relative;
        display:inline-block;
        vertical-align:middle;
        width:80%;
        height:43px;
        margin:10px 0 10px 15px;
        padding-top:5px;
        line-height:1.5em;
        .postdate{
            .pos;
            font-size:.9em;
            margin:0 0 10px 0;
            color:lighten(@color-base, 50%);
            }
        }
        li{
            .pos;
            margin:10px 0;
            padding:15px 0;
            border-bottom: 1px solid @color-lighterGray;
        }
    }
#main .content .commentText{
        .pos;
        margin:10px 0;
        p{
            line-height:1.5em;
            }
        p:first-child{
            &:before{
                content:'';
                }
            }
    }
.specs td, .specs th{
    overflow:hidden;
    }
.note{
    &:before{
        content:"Note: ";
        .bold;
        }
    }
.table{
    .pos;
    overflow:hidden;
}
.tableArrowR, .tableArrowL{
    position:absolute;
    display:block;
    width:20px;
    height:auto;
    cursor:pointer;
    z-index:10;
    }
.tableArrowR{
    right:0;
    background:url("@{img-dir}/tableFade.png") top right repeat-y;
    &:after{
        content:"";
        position:absolute;
        width:15px;
        height:22px;
        background:url("@{img-dir}/controls.png") top right no-repeat;
        background-size:47px 44px;
        }
    }
.tableArrowL{
    left:0;
    background:url("@{img-dir}/tableFadeL.png") top left repeat-y;
    &:after{
        content:"";
        position:absolute;
        width:15px;
        height:22px;
        left:4px;
        background:url("@{img-dir}/controls.png") top left no-repeat;
        background-size:47px 44px;
        }
    }
/* PRODUCT SUPPORT PAGE */
.manuals{
		margin:25px auto 40px auto;
		list-style-type:none;
		li{
			margin-bottom:12px;
			@media @tablet{
				width:49.2%;
				}
			@media @mobile{
				width:49.2%;
				}
			@media @iphone{
				width:49.2%;
				}
		a{
			font-size:.9em;
			color:@color-base;
			&:before{
				position:relative;
				display:inline-block;
				margin-right:9px;
				width:16px;
				height:19px;
				content:'';
				background:url("@{img-dir}/pdfIcon.png") top center no-repeat;
				vertical-align:bottom;
				@media @highdensity{
					background:url("@{img-dir}/pdfIcon@2x.png") top center no-repeat;
					.cover;
					}
				}
			&:hover{
				color:@color-red;
				}
			}
		}
	}
.narrowList a{
    .pos;
    .boldItalic;
    text-align:center;
    padding:8px 6px;
    background-color:@color-lighterGray;
    color:@color-base;
    margin:0 3px 0 0;
    &:hover{
        background-color:lighten(@color-ltGray, 50%);
        }
    &.active{
        background-color:lighten(@color-ltGray, 50%);
        }
    @media @tablet{
        width:25%;
        }
    @media @mobile{
        width:25%;
        }
    @media @iphone{
        width:25%;
        }
    }
.diagrams{
    margin:20px auto;
    th{
        padding:12px 0;
        text-align:left;
        .boldItalic;
    }
    tr{
        &:nth-child(even){
           background-color:lighten(@color-ltGray, 75%);
           }
        td{
            padding:12px 5px;
            text-align:left;
        }
    }
    a{
        text-align:left;
        .uline;
        }
    }

/* FAQS PAGE */

#main form.faqSearch{
    border-bottom:1px solid @color-red;
    margin-bottom:35px;
    }
#faqPage .faq{
        .pos;
        margin:35px 0 35px 0;
        padding-bottom:30px;
        border-bottom:1px solid lighten(@color-base, 75%);
        &:last-child{
            border-bottom:none;
            }
    p{
        margin:0 0 6px 0;
        padding:0;
        }
    p.illum:before{
        content:" ";
        }
    p:first-child:before{
        content:" ";
        }
    p:first-child::before{
        content:" ";
        }
    }
#main .content .span_9{
    @media @mobile{
        width:100%;
        }
    @media @iphone{
        width:100%;
        }
    }
#main .careerPost{
    margin-left:0;
    margin-right:0;
    }
#main .newsPost ol{
    list-style-position:outside;
    padding-left:25px;
    li{
        position:relative;
        display:list-item;
        margin:5px 0;
        line-height:1.4em;
        padding-bottom:10px;
        }
    }
.pageNav{
    .pos;
    margin:0 auto;
    text-align:center;
    a{
        padding:0 10px;
        .bold;
        font-size:.9em;
        }
    @media @iphone{
        width:100%;
        }
    @media @mobile{
        width:100%;
        }
    @media @tablet{
        width:60%;
        }
    }
