/* CSS crunched with Crunch - http://crunchapp.net/ */
@charset "UTF-8";
/********************
	  MIXINS
*********************/
.pos {
  position: relative;
  display: block;
}
.caps {
  text-transform: uppercase;
}
.bold {
  font-family: FFEnzoWebProBold;
}
.boldItalic {
  font-family: FFEnzoWebProBoldItalic;
}
.italic {
  font-family: FFEnzoWebProMediumItalic;
}
.uline {
  text-decoration: underline;
}
.center {
  margin: 0 auto;
}
.red {
  color: #dc0017;
}
.max {
  max-width: 960px;
}
.pad {
  padding: 25px 0;
}
.full-width {
  width: 100%;
  height: auto;
}
.text {
  line-height: 1;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.cover {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.clear {
  position: relative;
  display: block;
  clear: both;
  width: 100%;
}
.right {
  float: right;
}
.left {
  float: left;
}
/********************
      NORMALIZE
*********************/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  padding: 0;
}
body,
html {
  height: 100%;
  width: 100%;
}
a img {
  border: none;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  color: #000000;
  background-color: #242425;
  font-family: FFEnzoWebProMedium;
  line-height: 1;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}
@media only screen and (min-width: 640px) and (max-width: 767px) {
  body {
    font-size: 15px;
  }
}
@media only screen and (min-width: 321px) and (max-width: 639px) {
  body {
    font-size: 13px;
  }
}
@media only screen and (max-width: 320px) {
  body {
    font-size: 13px;
  }
}
input,
textarea,
button {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}
a {
  font-size: inherit;
  text-decoration: none;
  color: #dc0017;
  cursor: pointer;
}
a:hover {
  color: #cccccc;
}
ol,
ul {
  list-style-position: outside;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
strong {
  font-family: FFEnzoWebProBold;
}
/********************
	    FONTS
*********************/
h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 5px 0 12px 0;
}
h1 {
  font-size: 3.4em;
  font-family: FFEnzoWebProMediumItalic;
  text-transform: uppercase;
}
h2 {
  font-size: 2.5em;
  font-family: FFEnzoWebProMediumItalic;
  color: #dc0017;
  text-transform: uppercase;
}
h3 {
  font-size: 2.2em;
}
h4 {
  font-size: 2em;
  color: #dc0017;
}
h5 {
  font-size: 1.9em;
  line-height: 1.2em;
  font-family: FFEnzoWebProMediumItalic;
  text-transform: uppercase;
}
h6 {
  font-size: 1.5em;
  color: #000000;
  font-family: FFEnzoWebProMediumItalic;
  border-bottom: 1px solid #dc0017;
}
p {
  font-size: 1em;
  line-height: 1.7em;
}
/********************
	 GLOBAL STYLES
*********************/
/*  SECTIONS  */
.section {
  clear: both;
  padding: 0px;
  margin: 0px;
}
/*  COLUMN GROUPS  */
.group {
  zoom: 1;
}
.group:before {
  content: "";
  display: table;
}
.group:after {
  content: "";
  display: table;
  clear: both;
}
/*  COLUMNS NO WRAP - FIXED NUMBER  */
.col {
  display: table-cell;
  float: left;
  margin: 1% 0 1% 1.6%;
}
.col:first-child {
  margin-left: 0;
}
/*  COLUMNS WRAPPING - INFINITE NUMBER  */
.colWrap {
  display: block;
  float: left;
  margin-right: .4%;
  margin-left: .4%;
  max-width: 99.2%;
}
/*  COLUMN WIDTHS  */
.span_12 {
  width: 100%;
}
.span_11 {
  width: 91.53%;
}
.span_10 {
  width: 83.06%;
}
.span_9 {
  width: 74.6%;
}
.span_8 {
  width: 66.13%;
}
.span_7 {
  width: 57.66%;
}
.span_6 {
  width: 49.2%;
}
.span_5 {
  width: 40.73%;
}
.span_4 {
  width: 32.26%;
}
.span_3 {
  width: 23.8%;
}
.span_2 {
  width: 15.33%;
}
.span_1 {
  width: 6.86%;
}
/* 5 WIDE */
.span_1of5 {
  width: 18%;
}
/*  GLOBAL ELEMENTS  */
#j {
  position: relative;
  display: block;
  padding: 6px;
  text-align: center;
  background-color: #f3f298;
  color: #000000;
  font-family: FFEnzoWebProBold;
}
@media only screen and (min-width: 321px) and (max-width: 639px) {
  #j {
    top: 149px;
  }
}
@media only screen and (max-width: 320px) {
  #j {
    top: 149px;
  }
}
#wrapper {
  position: relative;
  display: block;
  margin: 0;
  width: 85%;
  padding: 0;
  height: auto;
  min-height: 750px;
  max-width: 1500px;
  background-color: #fff;
}
@media only screen and (min-width: 321px) and (max-width: 639px) {
  #wrapper {
    position: relative;
    display: block;
    width: 100%;
    margin: 0 auto;
    padding: 145px 0 0 0;
  }
}
@media only screen and (max-width: 320px) {
  #wrapper {
    position: relative;
    display: block;
    width: 100%;
    margin: 0 auto;
    padding: 145px 0 0 0;
  }
}
#main {
  position: relative;
  display: block;
  margin: 0 0 0 210px;
  padding-bottom: 65px;
  height: auto;
  min-height: 750px;
  max-width: 1290px;
  background-color: #fff;
}
@media only screen and (min-width: 321px) and (max-width: 639px) {
  #main {
    margin-left: 0;
  }
}
@media only screen and (max-width: 320px) {
  #main {
    margin-left: 0;
  }
}
.content {
  position: relative;
  display: block;
  margin: 0 auto;
  padding: 0;
}
.illum:before {
  content: "/ ";
  font-style: italic;
  color: #dc0017;
  font-family: FFEnzoWebProBold;
}
/*  INTERNAL PAGE TEMPLATE  */
#main .content {
  margin: 0 0 0 4%;
}
#main .content p {
  position: relative;
  display: block;
}
#main .content p:first-child:before {
  content: "/ ";
  font-style: italic;
  color: #dc0017;
  font-family: FFEnzoWebProBold;
}
@media only screen and (min-width: 321px) and (max-width: 639px) {
  #main .content.span_11 {
    max-width: 80%;
  }
}
@media only screen and (max-width: 320px) {
  #main .content.span_11 {
    max-width: 80%;
  }
}
@media only screen and (min-width: 321px) and (max-width: 639px) {
  #main .content {
    margin: 0 auto;
  }
}
@media only screen and (max-width: 320px) {
  #main .content {
    margin: 0 auto;
  }
}
/*  INTERNAL PAGE HEADER  */
#main #header {
  position: relative;
  height: 218px;
  margin: 0 0 35px 0;
  background: url("/wp-content/themes/triton/img/headerPhoto.jpg") center top no-repeat #000000;
  background-size: cover;
}
#main #header.trailers {
  margin-bottom: 0;
}
@media only screen and (min-width: 321px) and (max-width: 639px) {
  #main #header.trailers {
    margin-bottom: 30px;
  }
}
@media only screen and (max-width: 320px) {
  #main #header.trailers {
    margin-bottom: 25px;
  }
}
#main #header.seriesPages {
  margin-bottom: 40px;
}
@media only screen and (min-width: 321px) and (max-width: 639px) {
  #main #header.seriesPages {
    margin-bottom: 30px;
  }
}
@media only screen and (max-width: 320px) {
  #main #header.seriesPages {
    margin-bottom: 25px;
  }
}
#main #header.accessories {
  margin-bottom: 0;
}
@media only screen and (min-width: 321px) and (max-width: 639px) {
  #main #header.accessories {
    margin-bottom: 30px;
  }
}
@media only screen and (max-width: 320px) {
  #main #header.accessories {
    margin-bottom: 25px;
  }
}
@media only screen and (min-width: 321px) and (max-width: 639px) {
  #main #header {
    height: 150px;
    margin: 0 0 25px 0;
  }
}
@media only screen and (max-width: 320px) {
  #main #header {
    height: 150px;
    margin: 0 0 25px 0;
  }
}
#main #header .pageTitle {
  position: relative;
  display: table;
  margin: 0 auto;
  height: 95%;
}
#main #header .pageTitle .vertAlign {
  position: relative;
  display: table-cell;
  height: 100%;
  vertical-align: bottom;
}
#main #header .pageTitle h2 {
  color: #fff;
}
#main #header .pageTitle h2:after {
  content: "";
  background: url("/wp-content/themes/triton/img/redslash.png") no-repeat;
  background-size: cover;
  display: inline;
  float: right;
  position: relative;
  margin-top: -40px;
  width: 75px;
  height: 74px;
}
@media only screen and (max-width: 320px) {
  #main #header .pageTitle h2:after {
    background: url("/wp-content/themes/triton/img/redslash@2x.png") no-repeat;
    background-size: cover;
    width: 45px;
    height: 44px;
    margin-top: -10px;
    margin-left: -35px;
  }
}
@media only screen and (min-width: 321px) and (max-width: 639px) {
  #main #header .pageTitle h2:after {
    background: url("/wp-content/themes/triton/img/redslash@2x.png") no-repeat;
    background-size: cover;
    width: 45px;
    height: 44px;
    margin-top: -10px;
    margin-left: -35px;
  }
}
@media only screen and (min-width: 640px) and (max-width: 767px) {
  #main #header .pageTitle h2:after {
    background: url("/wp-content/themes/triton/img/redslash@2x.png") no-repeat;
    background-size: cover;
    width: 45px;
    height: 44px;
    margin-top: -10px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 949px) {
  #main #header .pageTitle h2:after {
    background: url("/wp-content/themes/triton/img/redslash@2x.png") no-repeat;
    background-size: cover;
    width: 45px;
    height: 44px;
    margin-top: -10px;
  }
}
/* NAVIGATION */
#left-nav {
  position: absolute;
  display: block;
  height: 100%;
  left: 0;
  margin: 0;
  padding: 0;
  background-color: #000000;
  width: 210px;
  z-index: 1000;
}
@media only screen and (min-width: 321px) and (max-width: 639px) {
  #left-nav {
    position: fixed;
    height: auto;
    width: 100%;
    margin: 0;
    top: 0;
    padding: 0;
    clear: both;
    background-color: #000000;
    z-index: 100;
  }
  #left-nav .logoLink {
    display: none;
  }
}
@media only screen and (max-width: 320px) {
  #left-nav {
    position: fixed;
    height: auto;
    width: 100%;
    margin: 0;
    padding: 0;
    top: 0;
    clear: both;
    background-color: #000000;
    z-index: 1000;
  }
  #left-nav .logoLink {
    display: none;
  }
}
#left-nav .trailerMobile {
  display: none;
  height: 70px;
}
@media only screen and (min-width: 321px) and (max-width: 639px) {
  #left-nav .trailerMobile {
    position: relative;
    display: block;
    border-top: 1px solid #dc0017;
  }
  #left-nav .trailerMobile a {
    position: relative;
    display: block;
    padding: 26px 0 26px 30px;
    font-size: 17px;
    color: #fff;
    font-style: italic;
    text-transform: uppercase;
    background: url("/wp-content/themes/triton/img/redArrowSprite@2x.png") 93% 30px no-repeat;
    background-size: 14px 50px;
    height: 18px;
  }
}
@media only screen and (max-width: 320px) {
  #left-nav .trailerMobile {
    position: relative;
    display: block;
    border-top: 1px solid #dc0017;
  }
  #left-nav .trailerMobile a {
    position: relative;
    display: block;
    padding: 26px 0 26px 30px;
    font-size: 17px;
    color: #fff;
    font-style: italic;
    text-transform: uppercase;
    background: url("/wp-content/themes/triton/img/redArrowSprite@2x.png") 93% 30px no-repeat;
    background-size: 14px 50px;
    height: 18px;
  }
}
#left-nav .mobileHeader {
  display: none;
}
@media only screen and (min-width: 321px) and (max-width: 639px) {
  #left-nav .mobileHeader {
    position: relative;
    display: block;
    z-index: 10000;
    height: 43px;
    padding: 16px 0;
  }
  #left-nav .mobileHeader a {
    text-align: center;
  }
  #left-nav .mobileHeader a img {
    position: relative;
    display: block;
    margin: 0 auto;
    top: 5px;
  }
}
@media only screen and (max-width: 320px) {
  #left-nav .mobileHeader {
    position: relative;
    display: block;
    z-index: 10000;
    height: 43px;
    padding: 16px 0;
  }
  #left-nav .mobileHeader a {
    text-align: center;
  }
  #left-nav .mobileHeader a img {
    position: relative;
    display: block;
    margin: 0 auto;
    top: 5px;
  }
}
#left-nav .content {
  position: relative;
  display: block;
  width: 100%;
}
@media only screen and (min-width: 321px) and (max-width: 639px) {
  #left-nav .content {
    height: auto;
    width: 100%;
    margin: 0;
    padding: 0;
  }
}
@media only screen and (max-width: 320px) {
  #left-nav .content {
    height: auto;
    width: 100%;
    margin: 0;
    padding: 0;
  }
}
#left-nav .logo {
  position: relative;
  display: block;
  margin: 91px auto 0 auto;
  max-width: 177px;
  width: 90%;
  height: auto;
}
@media only screen and (min-width: 321px) and (max-width: 639px) {
  #left-nav .logo {
    position: relative;
    display: block;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 320px) {
  #left-nav .logo {
    position: relative;
    display: block;
    margin: 0 auto;
  }
}
#left-nav .menu-main-menu-container {
  position: relative;
  display: block;
  overflow: visible;
  height: auto;
  margin: 20px auto 0 auto;
}
@media only screen and (min-width: 321px) and (max-width: 639px) {
  #left-nav .menu-main-menu-container {
    display: none;
    height: auto;
    margin: 0 auto;
    background-color: #000000;
    padding: 0;
  }
}
@media only screen and (max-width: 320px) {
  #left-nav .menu-main-menu-container {
    display: none;
    margin: 0 auto;
    padding: 0;
    background-color: #000000;
  }
}
#left-nav .menu-main-menu-container .menu {
  position: relative;
  display: block;
  list-style-type: none;
  padding: 0;
}
#left-nav .menu-main-menu-container .menu .menu-item {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  max-width: 100%;
  border-bottom: 1px solid #dc0017;
}
#left-nav .menu-main-menu-container .menu .menu-item:hover {
  background-color: #dc0017;
}
#left-nav .menu-main-menu-container .menu .menu-item:first-child {
  border-top: 1px solid #dc0017;
}
#left-nav .menu-main-menu-container .menu .menu-item.active {
  background-color: #dc0017;
}
#left-nav .menu-main-menu-container .menu .menu-item a {
  position: relative;
  display: block;
  width: 90%;
  padding: 26px 0 26px 10%;
  text-transform: uppercase;
  font-size: 15px;
  color: #fff;
  font-style: italic;
}
@media only screen and (min-width: 321px) and (max-width: 639px) {
  #left-nav .menu-main-menu-container .menu .menu-item a {
    padding-left: 35px;
    font-size: 17px;
  }
}
@media only screen and (max-width: 320px) {
  #left-nav .menu-main-menu-container .menu .menu-item a {
    padding-left: 35px;
    font-size: 17px;
  }
}
#left-nav .menu-main-menu-container .menu-item .sub-menu {
  position: absolute;
  display: none;
  width: 0;
  top: 0;
  left: 210px;
  background-color: #dc0017;
  overflow: hidden;
  border-left: 1px solid #000000;
}
#left-nav .menu-main-menu-container .menu-item .sub-menu li {
  background-color: #dc0017;
  border-bottom-color: #000000;
}
#left-nav .menu-main-menu-container .menu-item .sub-menu li:hover {
  background-color: #000000;
}
@media only screen and (min-width: 321px) and (max-width: 639px) {
  #left-nav .menu-main-menu-container .menu-item .sub-menu li {
    background-color: #313132;
  }
  #left-nav .menu-main-menu-container .menu-item .sub-menu li:hover {
    background-color: #e6e7e8;
  }
}
@media only screen and (max-width: 320px) {
  #left-nav .menu-main-menu-container .menu-item .sub-menu li {
    background-color: #313132;
  }
  #left-nav .menu-main-menu-container .menu-item .sub-menu li:hover {
    background-color: #e6e7e8;
  }
}
#left-nav .menu-main-menu-container .menu-item .sub-menu li:first-child {
  border-top-color: #000000;
}
#left-nav .menu-main-menu-container .menu-item .sub-menu a {
  color: #fff;
  font-style: italic;
  text-transform: capitalize;
}
#left-nav .menu-main-menu-container .menu-item .sub-menu a:hover {
  color: #fff;
}
@media only screen and (min-width: 321px) and (max-width: 639px) {
  #left-nav .menu-main-menu-container .menu-item .sub-menu a:hover {
    color: #000000;
  }
}
@media only screen and (max-width: 320px) {
  #left-nav .menu-main-menu-container .menu-item .sub-menu a:hover {
    color: #000000;
  }
}
@media only screen and (min-width: 321px) and (max-width: 639px) {
  #left-nav .menu-main-menu-container .menu-item .sub-menu {
    position: relative;
    display: none;
    width: 100%;
    left: 0;
  }
}
@media only screen and (max-width: 320px) {
  #left-nav .menu-main-menu-container .menu-item .sub-menu {
    position: relative;
    display: none;
    width: 100%;
    left: 0;
  }
}
#floatingBox {
  background-color: #000000;
  position: relative;
  display: block;
  width: 210px;
  z-index: 5000;
  left: 0;
}
@media only screen and (min-width: 321px) and (max-width: 639px) {
  #floatingBox {
    display: none;
  }
}
@media only screen and (max-width: 320px) {
  #floatingBox {
    display: none;
  }
}
#floatingBox ul {
  list-style-type: none;
}
#floatingBox ul li {
  background-color: #313132;
  border-bottom: 2px solid #000000;
  margin: 0;
}
#floatingBox ul li:hover {
  background-color: #e6e7e8;
}
#floatingBox ul li.spec a {
  position: relative;
  display: block;
  padding: 0;
  text-align: center;
  width: 104px;
  height: 67px;
  border-bottom: none;
}
#floatingBox ul li .spec {
  width: 104px;
}
#floatingBox ul li .secBtn {
  background: url("/wp-content/themes/triton/img/hamburger.png") 42px 30% no-repeat;
  vertical-align: bottom;
  color: #dc0017;
  line-height: 6.4em;
  font-size: .9em;
  text-transform: lowercase;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  #floatingBox ul li .secBtn {
    background: url("/wp-content/themes/triton/img/hamburger@2x.png") 42px 30% no-repeat;
    background-size: 19px 18px;
  }
}
#floatingBox ul li .srchBtn {
  background: url("/wp-content/themes/triton/img/search.png") 40px 30% no-repeat;
  vertical-align: bottom;
  color: #dc0017;
  line-height: 6.4em;
  font-size: .9em;
  text-transform: lowercase;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  #floatingBox ul li .srchBtn {
    background: url("/wp-content/themes/triton/img/search@2x.png") 40px 30% no-repeat;
    background-size: 19px 18px;
  }
}
#floatingBox ul li a {
  position: relative;
  display: block;
  text-transform: uppercase;
  font-size: 15px;
  font-style: italic;
  padding: 26px 0 26px 10%;
  color: #bfbfbf;
}
#floatingBox ul li a:hover {
  color: #dc0017;
}
#left-nav #secondaryMenu {
  position: absolute;
  display: none;
  width: 0;
  left: 210px;
  height: 100%;
  top: 0;
  background-color: #e6e7e8;
  z-index: -10;
  overflow: hidden;
  border-left: 1px solid #313132;
}
#left-nav #secondaryMenu .menu {
  position: relative;
  display: block;
  list-style-type: none;
  padding: 0;
  margin: 148px 0 0 0;
  width: 210px;
}
#left-nav #secondaryMenu .menu .current-menu-item {
  background-color: #a6a8ab;
}
#left-nav #secondaryMenu .menu .menu-item {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  max-width: 100%;
  border-bottom: 1px solid #dc0017;
}
#left-nav #secondaryMenu .menu .menu-item:hover {
  background-color: #a6a8ab;
}
#left-nav #secondaryMenu .menu .menu-item .red {
  background-color: #dc0017;
}
#left-nav #secondaryMenu .menu .menu-item:first-child {
  border-top: 1px solid #dc0017;
}
#left-nav #secondaryMenu .menu .menu-item a {
  position: relative;
  display: block;
  width: 90%;
  padding: 26px 0 26px 10%;
  text-transform: capitalize;
  font-size: 15px;
  color: #000000;
  font-style: italic;
}
#left-nav #searchMenu {
  position: absolute;
  display: none;
  width: 0;
  left: 210px;
  height: 100%;
  top: 0;
  background-color: #e6e7e8;
  z-index: -10;
  overflow: hidden;
  border-left: 1px solid #313132;
}
#left-nav #searchMenu ul {
  position: relative;
  display: block;
  list-style-type: none;
  padding: 0;
  margin: 172px 0 0 0;
  width: 210px;
}
#left-nav #searchMenu ul li {
  position: relative;
  display: block;
  margin: 26px auto;
  padding: 0;
  max-width: 88%;
  text-transform: uppercase;
  font-style: italic;
}
#left-nav #searchMenu ul li form {
  position: relative;
  display: table;
  padding: 0;
  width: 100%;
}
#left-nav #searchMenu ul li form label {
  font-size: 15px;
}
#left-nav #searchMenu ul li form input {
  position: relative;
  display: block;
  float: left;
  margin-top: 15px;
  padding: 0 0 0 6px;
  width: 119px;
  max-width: 125px !important;
  height: 30px;
  max-height: 30px;
  border: none;
  background-color: #dc0017;
  color: #fff;
  font-size: 15px;
  font-family: FFEnzoWebProMedium;
  -webkit-appearance: none;
  appearance: none;
}
#left-nav #searchMenu ul li form input::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #fff;
}
#left-nav #searchMenu ul li form input:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #fff;
  opacity: 1;
}
#left-nav #searchMenu ul li form input::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #fff;
  opacity: 1;
}
#left-nav #searchMenu ul li form input:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #fff;
}
#left-nav #searchMenu ul li form .search-field {
  width: 125px !important;
  padding: 0 0 0 6px;
  text-ndent: 0;
}
#left-nav #searchMenu ul li form .submit,
#left-nav #searchMenu ul li form .search-submit {
  cursor: pointer;
  position: relative;
  display: block;
  float: left;
  z-index: 15;
  width: 14px !important;
  background: url("/wp-content/themes/triton/img/searchArrow.png") 0 9px no-repeat #dc0017;
  color: #dc0017;
  text-indent: 100px;
  overflow: hidden;
  -webkit-appearance: none;
  appearance: none;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  #left-nav #searchMenu ul li form .submit,
  #left-nav #searchMenu ul li form .search-submit {
    background: url("/wp-content/themes/triton/img/searchArrow@2x.png") 0 8px no-repeat #dc0017;
    background-size: 9px 14px;
  }
}
#left-nav #searchMenu ul li a {
  position: relative;
  display: block;
  width: 90%;
  padding: 26px 0 26px 10%;
  text-transform: capitalize;
  font-size: 15px;
  color: #000000;
  font-style: italic;
}
#bigRedMenu {
  position: absolute;
  display: none;
  width: 100%;
  height: auto;
  min-height: 200%;
  background-color: #dc0017;
  top: 0;
  margin-left: -100%;
  z-index: 10000;
}
#bigRedMenu .closeBtn {
  position: relative;
  display: block;
  width: 25px;
  padding: 25px;
  margin-top: 10px;
  background: url("/wp-content/themes/triton/img/closeX.png") 50% 50% no-repeat;
}
@media only screen and (min-width: 321px) and (max-width: 639px) {
  #bigRedMenu .closeBtn {
    background: url("/wp-content/themes/triton/img/closeX@2x.png") 50% 50% no-repeat;
    background-size: 15px 15px;
  }
}
@media only screen and (max-width: 320px) {
  #bigRedMenu .closeBtn {
    background: url("/wp-content/themes/triton/img/closeX@2x.png") 50% 50% no-repeat;
    background-size: 15px 15px;
  }
}
#bigRedMenu .menu-secondary-menu-container {
  position: relative;
  display: block;
  width: 100%;
  padding: 0 0 100% 0;
  height: 100%;
}
#bigRedMenu .menu-secondary-menu-container .menu-item {
  position: relative;
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #000000;
}
#bigRedMenu .menu-secondary-menu-container .menu-item:hover {
  background-color: #fff;
}
#bigRedMenu .menu-secondary-menu-container .menu-item a {
  position: relative;
  display: block;
  color: #fff;
  padding: 26px 0 26px 25px;
  font-size: 17px;
  text-transform: uppercase;
  font-style: italic;
}
#bigRedMenu .menu-secondary-menu-container .menu-item a:hover {
  color: #000000;
}
#bigRedSearch {
  position: fixed;
  display: none;
  min-width: 100%;
  min-height: 150%;
  background-color: #dc0017;
  top: 0;
  margin-left: -100%;
  z-index: 10000;
}
#bigRedSearch .closeSearchBtn {
  position: relative;
  display: block;
  width: 25px;
  padding: 25px;
  margin-top: 10px;
  float: right;
  z-index: 10;
  background: url("/wp-content/themes/triton/img/closeX.png") 50% 50% no-repeat;
}
@media only screen and (min-width: 321px) and (max-width: 639px) {
  #bigRedSearch .closeSearchBtn {
    background: url("/wp-content/themes/triton/img/closeX@2x.png") 50% 50% no-repeat;
    background-size: 15px 15px;
  }
}
@media only screen and (max-width: 320px) {
  #bigRedSearch .closeSearchBtn {
    background: url("/wp-content/themes/triton/img/closeX@2x.png") 50% 50% no-repeat;
    background-size: 15px 15px;
  }
}
#bigRedSearch #socialMobile {
  position: relative;
  display: block;
  width: 65%;
  min-width: 250px;
  margin: 100px auto 0 auto;
  text-align: center;
}
#bigRedSearch #socialMobile .section {
  width: 90px;
  margin: 0 auto;
}
#bigRedSearch #socialMobile .facebook {
  position: relative;
  display: block;
  width: 35px;
  height: 29px;
  background: url("/wp-content/themes/triton/img/facebook.png") 50% 50% no-repeat;
  background-size: 15px 29px;
}
#bigRedSearch #socialMobile .twitter {
  position: relative;
  display: block;
  float: right;
  width: 35px;
  height: 29px;
  background: url("/wp-content/themes/triton/img/twitter.png") 50% 50% no-repeat;
  background-size: 35px 29px;
}
#bigRedSearch #socialMobile .youtube {
  position: relative;
  display: block;
  float: right;
  width: 25px;
  height: 29px;
  background: url("/wp-content/themes/triton/img/youTubeWhite.png") 50% 50% no-repeat;
  background-size: 25px 29px;
}
#bigRedSearch form {
  position: relative;
  display: block;
  width: 60%;
  min-width: 250px;
  margin: 20px auto 130px auto;
  text-align: center;
}
#bigRedSearch form label {
  position: relative;
  display: block;
  width: 85%;
  color: #fff;
  font-size: 17px;
  text-transform: uppercase;
  text-indent: 40px;
}
#bigRedSearch form input {
  position: relative;
  display: block;
  float: left;
  margin: 10px auto;
  border: none;
  padding: 12px;
  width: 86%;
}
#bigRedSearch form .search-field {
  width: 94.5%;
}
#bigRedSearch form .submit,
#bigRedSearch form .search-submit {
  cursor: pointer;
  position: relative;
  display: block;
  float: left;
  z-index: 15;
  width: 35px !important;
  margin-left: 5px;
  background: url("/wp-content/themes/triton/img/searchArrow.png") 13px 12px no-repeat #000000;
  color: #dc0017;
  text-indent: 100px;
  overflow: hidden;
  -webkit-appearance: none;
  appearance: none;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  #bigRedSearch form .submit,
  #bigRedSearch form .search-submit {
    background: url("/wp-content/themes/triton/img/searchArrow@2x.png") 13px 12px no-repeat #000000;
    background-size: 9px 14px;
  }
}
/* SITE FOOTER */
#footer {
  position: relative;
  display: block;
  z-index: 10;
  margin: 0 0 0 210px;
  min-height: 10%;
  padding: 25px 0;
  background-color: #000000;
  max-width: 1290px;
}
#footer .logo {
  max-width: 177px;
}
#footer .menu-item {
  padding: 2px 0;
}
#footer a {
  color: #999999;
  font-size: 11px;
  text-transform: uppercase;
}
#footer a:hover {
  color: #eee;
  font-family: FFEnzoWebProBold;
}
#footer .title {
  position: relative;
  display: block;
  color: #fff;
  font-size: 11px;
  padding: 0;
  text-transform: uppercase;
  font-family: FFEnzoWebProBold;
}
#footer .copyright {
  position: relative;
  display: block;
  margin: 0 auto;
  text-align: left;
  max-width: 90%;
  font-size: .7em;
  color: #b3b3b3;
}
@media only screen and (min-width: 640px) and (max-width: 767px) {
  #footer .copyright {
    text-align: left;
    padding-top: 15px;
  }
}
@media only screen and (min-width: 321px) and (max-width: 639px) {
  #footer .copyright {
    text-align: left;
    padding-top: 15px;
    max-width: 80%;
  }
}
@media only screen and (max-width: 320px) {
  #footer .copyright {
    text-align: left;
    padding-top: 15px;
    max-width: 80%;
  }
}
#footer .homeLink {
  padding-top: 0;
}
@media only screen and (min-width: 640px) and (max-width: 767px) {
  #footer .homeLink {
    float: left;
  }
}
@media only screen and (min-width: 321px) and (max-width: 639px) {
  #footer .homeLink {
    float: left;
  }
}
@media only screen and (max-width: 320px) {
  #footer .homeLink {
    float: left;
  }
}
#footer #social {
  position: relative;
  display: block;
  margin: 35px auto 0 auto;
}
@media only screen and (min-width: 640px) and (max-width: 767px) {
  #footer #social {
    float: left;
  }
}
@media only screen and (min-width: 321px) and (max-width: 639px) {
  #footer #social {
    float: left;
  }
}
@media only screen and (max-width: 320px) {
  #footer #social {
    float: left;
  }
}
#footer #social a {
  text-align: center;
}
#footer #social a img {
  height: 18px;
  width: auto;
}
@media only screen and (min-width: 321px) and (max-width: 639px) {
  #footer #social .span_3 {
    height: auto;
    width: 23.8%;
  }
}
@media only screen and (min-width: 321px) and (max-width: 639px) {
  #footer #social .span_3 {
    height: auto;
    width: 23.8%;
  }
}
@media only screen and (min-width: 321px) and (max-width: 639px) {
  #footer #social .span_3 {
    height: auto;
    width: 23.8%;
  }
}
#footer form {
  position: relative;
  display: block;
  clear: both;
  width: 100%;
  margin: 0 0 25px 0;
}
#footer form label {
  position: relative;
  display: block;
}
#footer form input {
  position: relative;
  display: block;
  border: none;
  float: left;
  margin: 8px 3px 0 0;
  padding: 5px 0;
  text-indent: 6px;
  width: 50%;
}
#footer form .submit {
  cursor: pointer;
  position: relative;
  display: block;
  z-index: 15;
  width: 20px !important;
  background: url("/wp-content/themes/triton/img/searchArrow.png") 6px 5px no-repeat #dc0017;
  color: #dc0017;
  text-indent: 100px;
  overflow: hidden;
  -webkit-appearance: none;
  appearance: none;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  #footer form .submit {
    background: url("/wp-content/themes/triton/img/searchArrow@2x.png") 4px 5px no-repeat #dc0017;
    background-size: 9px 14px;
  }
}
#footer .sub-menu {
  display: none;
}
#footer .footContent {
  margin: 0 0 25px 0;
}
@media only screen and (min-width: 321px) and (max-width: 639px) {
  #footer .footContent {
    position: relative;
    display: block;
    margin: 0 auto;
    width: 80%;
  }
}
@media only screen and (max-width: 320px) {
  #footer .footContent {
    position: relative;
    display: block;
    margin: 0 auto;
    width: 80%;
  }
}
@media only screen and (min-width: 640px) and (max-width: 767px) {
  #footer .span_3 {
    width: 48.2%;
    min-height: 150px;
  }
}
@media only screen and (min-width: 321px) and (max-width: 639px) {
  #footer .span_3 {
    width: 48.2%;
    min-height: 150px;
  }
}
@media only screen and (max-width: 320px) {
  #footer .span_3 {
    width: 48.2%;
    min-height: 150px;
  }
}
@media only screen and (min-width: 321px) and (max-width: 639px) {
  #footer {
    margin-left: 0;
  }
}
@media only screen and (max-width: 320px) {
  #footer {
    margin-left: 0;
  }
}
/* FORMS STYLES */
#main .formPage p {
  max-width: 99.2%;
  margin: 0 auto;
}
#main form {
  font-size: 17px;
  height: auto;
  margin: 35px auto 50px auto;
}
#main form.contactForm {
  border-top: 1px solid #dc0017;
  padding-top: 45px;
}
@media only screen and (min-width: 640px) and (max-width: 767px) {
  #main form .span_12 {
    margin-bottom: 30px;
  }
}
@media only screen and (min-width: 321px) and (max-width: 639px) {
  #main form .span_12 {
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 320px) {
  #main form .span_12 {
    margin-bottom: 20px;
  }
}
#main form label {
  font-family: FFEnzoWebProBold;
  margin-bottom: 35px;
}
#main form label input,
#main form label select {
  margin-top: 10px;
  margin-bottom: 0;
}
#main form .span_6 {
  width: 47.7%;
}
@media only screen and (min-width: 640px) and (max-width: 767px) {
  #main form .span_6 {
    width: 98.2%;
    margin-bottom: 30px;
  }
}
@media only screen and (min-width: 321px) and (max-width: 639px) {
  #main form .span_6 {
    width: 98.2%;
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 320px) {
  #main form .span_6 {
    width: 98.2%;
    margin-bottom: 20px;
  }
}
#main form input {
  font-size: 17px;
  font-family: FFEnzoWebProBold;
  border: none;
  background-color: #e6e7e8;
  padding: 23px 0 23px 1.2%;
  margin-bottom: 35px;
}
#main form input.span_12 {
  max-width: 97.5%;
}
#main form input.submit {
  color: #fff;
  background-color: #dc0017;
  position: relative;
  display: block;
  float: none;
  clear: both;
  text-transform: uppercase;
  cursor: pointer;
  margin: 66px auto 35px auto;
}
#main form input.submit:hover {
  background-color: #7d7d7f;
}
@media only screen and (min-width: 640px) and (max-width: 767px) {
  #main form input.submit {
    margin: 60px auto 30px auto;
  }
}
@media only screen and (min-width: 321px) and (max-width: 639px) {
  #main form input.submit {
    margin: 50px auto 20px auto;
  }
}
@media only screen and (max-width: 320px) {
  #main form input.submit {
    margin: 40px auto 20px auto;
  }
}
#main form input[type="checkbox"] {
  display: none;
}
#main form input[type="checkbox"] + label span {
  display: inline-block;
  background: #e6e7e8;
  width: 43px;
  height: 43px;
  margin: 0 3px 0 0;
  vertical-align: middle;
  cursor: pointer;
}
#main form input[type="checkbox"]:checked + label span {
  background: #dc0017;
}
#main form .radios {
  position: relative;
  display: block;
  padding: 12px 0 0 0;
  text-align: left;
  font-weight: normal;
  margin-top: 10px;
  margin-bottom: 1px;
}
#main form .radios label {
  font-weight: normal;
  margin-bottom: 10px;
  font-size: .9em;
}
@media only screen and (min-width: 768px) and (max-width: 949px) {
  #main form .radios label {
    width: 49.2%;
  }
}
@media only screen and (min-width: 640px) and (max-width: 767px) {
  #main form .radios label {
    width: 98.2%;
  }
}
@media only screen and (min-width: 321px) and (max-width: 639px) {
  #main form .radios label {
    width: 98.2%;
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 320px) {
  #main form .radios label {
    width: 98.2%;
    margin-bottom: 20px;
  }
}
#main form select {
  font-size: 17px;
  text-transform: capitalize;
  font-family: FFEnzoWebProBold;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: '';
  appearance: none;
  background: transparent;
  border: none;
  padding: 23px 0 23px 1.2%;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  background: url("/wp-content/themes/triton/img/selectArrow.png") 95% 55% no-repeat #e6e7e8;
  background-size: 21px 13px;
}
#main form select.span_6 {
  width: 49%;
  margin-bottom: 35px;
}
#main form select::-ms-expand {
  display: none;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  #main form select {
    background: url("/wp-content/themes/triton/img/selectArrow@2x.png") 95% 55% no-repeat #e6e7e8;
    background-size: 21px 13px;
  }
}
@media only screen and (min-width: 640px) and (max-width: 767px) {
  #main form select {
    width: 100% !important;
    margin-bottom: 30px;
  }
}
@media only screen and (min-width: 321px) and (max-width: 639px) {
  #main form select {
    width: 100% !important;
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 320px) {
  #main form select {
    width: 100% !important;
    margin-bottom: 20px;
  }
}
#main form textarea {
  position: relative;
  display: block;
  font-size: 17px;
  font-family: FFEnzoWebProBold;
  border: none;
  background-color: #e6e7e8;
  padding: 23px 0 10px 1.2%;
  height: 120px;
  margin: 0 0 35px 5px;
  resize: none;
  float: left;
  clear: both;
  max-width: 97.5%;
}
@media only screen and (min-width: 640px) and (max-width: 767px) {
  #main form textarea {
    max-width: 98.2%;
    margin: 0 0 30px 0;
  }
}
@media only screen and (min-width: 321px) and (max-width: 639px) {
  #main form textarea {
    max-width: 98.2%;
    margin: 0 0 20px 0;
  }
}
@media only screen and (max-width: 320px) {
  #main form textarea {
    max-width: 98.2%;
    margin: 0 0 20px 0;
  }
}
/* For Firefox version 30 and above */
@-moz-document url-prefix() {
  .ui-select {
    position: relative;
    overflow: hidden;
  }
  .ui-select select {
    width: 110%;
    background-position: right 30px center;
    border: none;
  }
}
#main .dealerSearch {
  margin-top: 80px;
}
@media only screen and (min-width: 640px) and (max-width: 767px) {
  #main .dealerSearch {
    margin-top: 50px;
  }
}
@media only screen and (min-width: 321px) and (max-width: 639px) {
  #main .dealerSearch {
    margin-top: 35px;
  }
}
@media only screen and (max-width: 320px) {
  #main .dealerSearch {
    margin-top: 35px;
  }
}
#main .dealerResults {
  position: relative;
  margin: 40px auto;
  padding: 40px 0;
  height: auto;
  border-top: 1px solid #dc0017;
}
@media only screen and (min-width: 321px) and (max-width: 639px) {
  #main .dealerResults {
    width: 95%;
  }
}
@media only screen and (max-width: 320px) {
  #main .dealerResults {
    width: 95%;
  }
}
#main .dealerResults #map-canvas {
  position: relative;
  display: block;
  height: 350px;
}
@media only screen and (min-width: 321px) and (max-width: 639px) {
  #main .dealerResults #map-canvas {
    width: 50%;
    height: 250px;
  }
}
@media only screen and (max-width: 320px) {
  #main .dealerResults #map-canvas {
    width: 50%;
    height: 250px;
  }
}
#main .dealerResults ul {
  list-style-type: none;
}
#main .dealerResults ul li {
  position: relative;
  display: block;
  font-size: .9em;
  line-height: 1.5em;
  margin-bottom: 25px;
}
#main .warrantyForm .submit {
  margin: 45px auto 0 auto;
}
@media only screen and (min-width: 321px) and (max-width: 639px) {
  #main .warrantyForm .submit {
    width: 100%;
  }
}
@media only screen and (max-width: 320px) {
  #main .warrantyForm .submit {
    width: 100%;
  }
}
#main .warrantyForm span {
  position: relative;
  display: block;
  line-height: 1.4em;
  padding: 0;
  margin: 5px 0 15px 0;
}
#main .warrantyForm span.last {
  margin-bottom: 40px;
}
#main .warrantyForm #line {
  position: relative;
  display: block;
  max-width: 98.4%;
  height: 1px;
  border-bottom: 1px solid #dc0017;
  padding: 0 0 1px 0;
  margin-bottom: 35px;
}
.wpcf7-validates-as-required::-webkit-input-placeholder:before {
  content: '*';
  color: #dc0017;
}
.wpcf7-validates-as-required:-moz-placeholder:before {
  /* Firefox 18- */
  content: '*';
  color: #dc0017;
}
.wpcf7-validates-as-required::-moz-placeholder:before {
  /* Firefox 19+ */
  content: '*';
  color: #dc0017;
}
.wpcf7-validates-as-required:-ms-input-placeholder:before {
  content: '*';
  color: #dc0017;
}
.surveyForm input[type="radio"] {
  display: none;
}
.surveyForm input[type="radio"] + label span {
  display: inline-block;
  background: #e6e7e8;
  width: 43px;
  height: 43px;
  margin: 0 3px 0 0;
  vertical-align: middle;
  cursor: pointer;
}
.surveyForm input[type="radio"]:checked + label span {
  background: #dc0017;
}
#main form.surveyForm .surveyBlock {
  display: inline-block;
  vertical-align: top;
}
@media only screen and (min-width: 321px) and (max-width: 639px) {
  #main form.surveyForm .surveyBlock {
    width: 100%;
    display: block;
  }
}
@media only screen and (max-width: 320px) {
  #main form.surveyForm .surveyBlock {
    width: 100%;
    display: block;
  }
}
@media only screen and (min-width: 321px) and (max-width: 639px) {
  #main form.surveyForm .surveyBlock .radios label {
    width: 100%;
    display: block;
  }
}
@media only screen and (max-width: 320px) {
  #main form.surveyForm .surveyBlock .radios label {
    width: 100%;
    display: block;
  }
}
/* slideshow styles */
#main .slideshow-wrapper {
  position: relative;
  display: block;
  margin: 25px auto 40px auto;
  overflow: hidden;
  height: auto;
  z-index: 1;
}
@media only screen and (min-width: 321px) and (max-width: 639px) {
  #main .slideshow-wrapper {
    width: 100%;
    margin-bottom: 5px;
  }
}
@media only screen and (max-width: 320px) {
  #main .slideshow-wrapper {
    width: 100%;
    margin-bottom: 5px;
  }
}
#main .slideshow-wrapper .slide-nav {
  position: absolute;
  display: block;
  float: left;
  width: 100%;
  height: 60%;
  z-index: 0;
}
#main .slideshow-wrapper .slide-nav .prev {
  position: relative;
  display: block;
  float: left;
  top: 45%;
  width: 25px;
  height: 30px;
  background: url("/wp-content/themes/triton/img/controls.png") 5px 0px no-repeat;
}
@media only screen and (min-width: 321px) and (max-width: 639px) {
  #main .slideshow-wrapper .slide-nav .prev {
    background: url("/wp-content/themes/triton/img/controls@2x.png") 5px 0px no-repeat;
    background-size: 63px 59px;
  }
}
@media only screen and (max-width: 320px) {
  #main .slideshow-wrapper .slide-nav .prev {
    background: url("/wp-content/themes/triton/img/controls@2x.png") 5px 0px no-repeat;
    background-size: 63px 59px;
  }
}
#main .slideshow-wrapper .slide-nav .next {
  position: relative;
  display: block;
  top: 45%;
  float: right;
  width: 25px;
  height: 30px;
  background: url("/wp-content/themes/triton/img/controls.png") -40px 0px no-repeat;
}
@media only screen and (min-width: 321px) and (max-width: 639px) {
  #main .slideshow-wrapper .slide-nav .next {
    background: url("/wp-content/themes/triton/img/controls@2x.png") -40px 0px no-repeat;
    background-size: 63px 59px;
  }
}
@media only screen and (max-width: 320px) {
  #main .slideshow-wrapper .slide-nav .next {
    background: url("/wp-content/themes/triton/img/controls@2x.png") -40px 0px no-repeat;
    background-size: 63px 59px;
  }
}
#main .slideshow-wrapper .slide-view {
  position: relative;
  display: block;
  margin: 0 auto;
  height: auto;
  min-height: 300px;
  overflow: hidden;
  z-index: 1;
}
@media only screen and (min-width: 321px) and (max-width: 639px) {
  #main .slideshow-wrapper .slide-view {
    min-height: 230px;
  }
}
@media only screen and (max-width: 320px) {
  #main .slideshow-wrapper .slide-view {
    min-height: 230px;
  }
}
#main .slideshow-wrapper .slider {
  position: relative;
  display: table;
  float: left;
  height: auto;
  min-height: 350px;
  margin-bottom: 8px;
}
@media only screen and (min-width: 321px) and (max-width: 639px) {
  #main .slideshow-wrapper .slider {
    min-height: 250px;
  }
}
@media only screen and (max-width: 320px) {
  #main .slideshow-wrapper .slider {
    min-height: 250px;
  }
}
#main .slideshow-wrapper .slider li {
  position: relative;
  display: table-cell;
  float: left;
  width: auto;
  height: 100%;
  vertical-align: middle;
}
#main .slideshow-wrapper .slider li img {
  position: relative;
  display: block;
  margin: 50px auto 0 auto;
  width: 480px;
  max-width: 100%;
  height: auto;
}
#main .slideshow-wrapper .thumbs {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 85%;
  height: auto;
  z-index: 1000;
}
@media only screen and (min-width: 321px) and (max-width: 639px) {
  #main .slideshow-wrapper .thumbs {
    width: 100%;
  }
}
@media only screen and (max-width: 320px) {
  #main .slideshow-wrapper .thumbs {
    width: 100%;
  }
}
#main .slideshow-wrapper .thumbs .thumb {
  position: relative;
  display: inline-block;
  float: none;
  width: 10%;
  margin: 5px 2.5%;
  cursor: pointer;
  height: 65px;
}
@media only screen and (min-width: 321px) and (max-width: 639px) {
  #main .slideshow-wrapper .thumbs .thumb {
    width: 8%;
    margin: 5px 2%;
    height: 35px;
  }
}
@media only screen and (max-width: 320px) {
  #main .slideshow-wrapper .thumbs .thumb {
    width: 8%;
    margin: 5px 2%;
    height: 35px;
  }
}
#main .slideshow-wrapper .thumbs .thumb img {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 84px;
  padding-bottom: 10px;
  cursor: pointer;
}
#main .slideshow-wrapper .thumbs .thumb img.cur {
  border-bottom: 4px solid #dc0017;
}
#main .slideshow-wrapper .gallery-caption {
  position: absolute;
  display: block;
  float: left;
  width: auto;
  font-size: 16px;
  padding: 6px 50px 6px 10px;
  background-color: #dc0017;
  color: #fff;
  font-family: FFEnzoWebProBold;
  text-transform: uppercase;
  z-index: 100;
  margin-left: 2px;
}
#main .slideshow-wrapper .gallery-caption:after {
  content: "";
  position: absolute;
  display: block;
  width: 25px;
  height: 25px;
  background: transparent;
  border-top: 28px solid #dc0017;
  border-right: 28px solid transparent;
  top: 0;
  right: -32px;
}
/* SIDEBAR STYLES */
.sideBar {
  margin: 0 auto;
}
.sideBar ul {
  position: relative;
  display: block;
  width: 90%;
  margin: 40px auto 25px auto;
  list-style-type: none;
}
.sideBar ul .sidebarTitle {
  position: relative;
  display: block;
  font-family: FFEnzoWebProBold;
  color: #dc0017;
  text-transform: uppercase;
}
.sideBar ul li {
  position: relative;
  display: block;
  color: #000000;
  margin: 10px 0;
}
.sideBar ul a {
  color: #000000;
}
.sideBar ul a:hover {
  color: #dc0017;
}
.sideBar ul.arch a {
  position: relative;
  display: block;
  color: #000000;
  margin: 10px 0;
}
.sideBar ul.arch a:hover {
  color: #dc0017;
}
/***************************** 
    PAGE SPECIFIC STYLES
******************************/
/* home page */
#pageHeader {
  height: auto;
  margin: 0 0 80px 0;
  background-color: #3e3e3f;
  overflow: hidden;
}
@media only screen and (min-width: 321px) and (max-width: 639px) {
  #pageHeader {
    margin-bottom: 30px;
  }
}
@media only screen and (max-width: 320px) {
  #pageHeader {
    margin-bottom: 30px;
  }
}
#pageHeader .homeslider {
  width: 100%;
}
@media only screen and (min-width: 321px) and (max-width: 639px) {
  #pageHeader .homeslider {
    width: 200%;
  }
}
@media only screen and (max-width: 320px) {
  #pageHeader .homeslider {
    width: 200%;
  }
}
#pageHeader .topPhotos {
  position: relative;
  display: block;
  height: 218px;
  z-index: 1;
}
@media only screen and (min-width: 640px) and (max-width: 767px) {
  #pageHeader .topPhotos {
    height: 165px;
  }
}
@media only screen and (min-width: 321px) and (max-width: 639px) {
  #pageHeader .topPhotos {
    height: 88px;
    float: left;
    width: 50%;
  }
}
@media only screen and (max-width: 320px) {
  #pageHeader .topPhotos {
    height: 88px;
    float: left;
    width: 50%;
  }
}
#pageHeader .topPhotos .atv {
  position: relative;
  display: block;
  float: left;
  width: 30%;
  height: 100%;
  background: url("/wp-content/themes/triton/img/atv.jpg") 5% 0 no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#pageHeader .topPhotos .snow {
  position: relative;
  display: block;
  float: left;
  width: 40%;
  height: 100%;
  background: url("/wp-content/themes/triton/img/snow.jpg") center 25% no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#pageHeader .topPhotos .bike {
  position: relative;
  display: block;
  float: left;
  width: 30%;
  height: 100%;
  background: url("/wp-content/themes/triton/img/bike.jpg") right 0 no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#pageHeader .bottomPhotos {
  position: relative;
  display: block;
  height: 204px;
  z-index: 1;
}
@media only screen and (min-width: 640px) and (max-width: 767px) {
  #pageHeader .bottomPhotos {
    height: 150px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 949px) {
  #pageHeader .bottomPhotos {
    height: 150px;
  }
}
@media only screen and (min-width: 321px) and (max-width: 639px) {
  #pageHeader .bottomPhotos {
    height: 88px;
    float: left;
    width: 50%;
  }
}
@media only screen and (max-width: 320px) {
  #pageHeader .bottomPhotos {
    height: 88px;
    float: left;
    width: 50%;
  }
}
#pageHeader .bottomPhotos .mower {
  position: relative;
  display: block;
  float: left;
  width: 27%;
  height: 100%;
  background: url("/wp-content/themes/triton/img/mower.jpg") left 0 no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#pageHeader .bottomPhotos .motorcross {
  position: relative;
  display: block;
  float: left;
  width: 27%;
  height: 100%;
  background: url("/wp-content/themes/triton/img/motorcross.jpg") left 0 no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#pageHeader .bottomPhotos .boat {
  position: relative;
  display: block;
  float: left;
  width: 46%;
  height: 100%;
  background: url("/wp-content/themes/triton/img/boat.jpg") right 25% no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
@media only screen and (min-width: 321px) and (max-width: 639px) {
  #pageHeader {
    height: 88px;
    overflow: hidden;
    width: auto;
  }
}
@media only screen and (max-width: 320px) {
  #pageHeader {
    height: 88px;
    overflow: hidden;
    width: auto;
  }
}
#pageHeader #pageHeadline {
  position: relative;
  display: table;
  background-color: #dc0017;
  height: 204px;
  z-index: 1;
  overflow: visible;
}
@media only screen and (min-width: 640px) and (max-width: 767px) {
  #pageHeader #pageHeadline {
    height: 150px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 949px) {
  #pageHeader #pageHeadline {
    height: 150px;
  }
}
@media only screen and (min-width: 321px) and (max-width: 639px) {
  #pageHeader #pageHeadline {
    display: none;
  }
}
@media only screen and (max-width: 320px) {
  #pageHeader #pageHeadline {
    display: none;
  }
}
#pageHeader #pageHeadline .headline {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  margin: 0 auto;
  height: 100%;
}
#pageHeader #pageHeadline .headline h1 {
  max-width: 90%;
  color: #fff;
}
@media only screen and (min-width: 640px) and (max-width: 767px) {
  #pageHeader #pageHeadline .headline h1 {
    font-size: 2.4em;
  }
}
@media only screen and (min-width: 321px) and (max-width: 639px) {
  #pageHeader #pageHeadline .headline h1 {
    font-size: 1.8em;
  }
}
#pageHeader #pageHeadline .headline h1:after {
  content: "";
  background: url("/wp-content/themes/triton/img/whiteSlash.png") no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: inline-block;
  position: absolute;
  margin: -10px 0 0 10px;
  width: 76px;
  height: 74px;
}
@media only screen and (min-width: 321px) and (max-width: 639px) {
  #pageHeader #pageHeadline .headline h1:after {
    background: url("/wp-content/themes/triton/img/whiteSlash@2x.png") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 45px;
    height: 44px;
    margin-top: 3px;
  }
}
@media only screen and (min-width: 640px) and (max-width: 767px) {
  #pageHeader #pageHeadline .headline h1:after {
    background: url("/wp-content/themes/triton/img/whiteSlash@2x.png") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 45px;
    height: 44px;
    margin-top: -3px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 949px) {
  #pageHeader #pageHeadline .headline h1:after {
    background: url("/wp-content/themes/triton/img/whiteSlash@2x.png") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 45px;
    height: 44px;
    margin-top: 3px;
  }
}
#main .newsPost ul {
  padding-left: 20px;
  line-height: 1.5em;
  margin-bottom: 15px;
}
#main .storyBlock {
  position: relative;
  display: table;
  margin: 0 auto 45px auto;
  height: auto;
}
@media only screen and (min-width: 321px) and (max-width: 639px) {
  #main .storyBlock {
    width: 100%;
  }
}
@media only screen and (max-width: 320px) {
  #main .storyBlock {
    width: 100%;
  }
}
#main .storyBlock h5 {
  text-transform: none;
}
#main .storyBlock p {
  position: relative;
  display: block;
}
#main .storyBlock p:first-child:before {
  content: "";
}
#main .storyBlock .imgBox {
  text-align: center;
}
#main .storyBlock .textBox {
  position: relative;
  display: table-cell;
  height: 100%;
  vertical-align: middle;
  text-align: left;
}
#main .storyBlock .textBox .text p {
  max-width: 460px;
}
@media only screen and (min-width: 640px) and (max-width: 767px) {
  #main .storyBlock .textBox .text {
    display: block;
  }
}
@media only screen and (min-width: 321px) and (max-width: 639px) {
  #main .storyBlock .textBox .text {
    display: block;
  }
}
@media only screen and (max-width: 320px) {
  #main .storyBlock .textBox .text {
    display: block;
  }
}
#main .storyBlock .textBox .span_6 img {
  height: auto;
  width: 100%;
  max-width: 395px;
  margin: 0 auto;
}
#main .storyBlock .textBox .span_6 img:nth-child(odd) {
  float: left;
}
@media only screen and (min-width: 321px) and (max-width: 639px) {
  #main .storyBlock .textBox .span_6 img:nth-child(odd) {
    float: none;
  }
}
@media only screen and (max-width: 320px) {
  #main .storyBlock .textBox .span_6 img:nth-child(odd) {
    float: none;
  }
}
@media only screen and (min-width: 321px) and (max-width: 639px) {
  #main .storyBlock .textBox .span_6 img {
    position: relative;
    display: block;
    margin: 0 auto;
    float: none;
    max-width: 80%;
  }
}
@media only screen and (max-width: 320px) {
  #main .storyBlock .textBox .span_6 img {
    position: relative;
    display: block;
    margin: 0 auto;
    float: none;
    max-width: 80%;
  }
}
@media only screen and (min-width: 640px) and (max-width: 767px) {
  #main .storyBlock .textBox .span_6 {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    margin: 0 auto 15px auto;
    float: none;
    clear: both;
  }
}
@media only screen and (min-width: 321px) and (max-width: 639px) {
  #main .storyBlock .textBox .span_6 {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    margin: 0 auto 15px auto;
    float: none;
    clear: both;
  }
}
@media only screen and (max-width: 320px) {
  #main .storyBlock .textBox .span_6 {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    margin: 0 auto 15px auto;
    float: none;
    clear: both;
  }
}
/* TRAILERS PAGES */
.sub {
  position: relative;
  display: block;
  height: 72px;
  background-color: #e6e7e8;
  margin: 0 0 35px 0;
}
@media only screen and (min-width: 321px) and (max-width: 639px) {
  .sub {
    display: none;
  }
}
@media only screen and (max-width: 320px) {
  .sub {
    display: none;
  }
}
.sub .sub-menu {
  position: relative;
  width: 100%;
  height: 100%;
  display: block;
}
.sub .sub-menu li {
  position: relative;
  display: table;
  width: 20%;
  text-align: center;
  height: 100%;
  float: left;
}
.sub .sub-menu li:hover {
  background-color: #cacacb;
}
.sub .sub-menu li a {
  position: relative;
  display: table-cell;
  color: #000000;
  text-transform: capitalize;
  font-size: 15px;
  font-family: FFEnzoWebProMediumItalic;
  vertical-align: middle;
  height: 100%;
}
.sub .sub-menu li a:hover {
  color: #dc0017;
}
.sub .sub-menu li a.active {
  color: #dc0017;
}
@media only screen and (min-width: 640px) and (max-width: 767px) {
  .sub .sub-menu li a {
    font-size: 14px;
  }
}
.trailerBox {
  position: relative;
  display: table;
  margin: 0 auto;
  padding: 25px 0;
  border-bottom: 1px solid #dc0017;
}
.trailerBox:last-child {
  border-bottom: none;
}
.trailerBox h5 {
  text-transform: capitalize;
  font-size: 1.7em;
}
.trailerBox .trailerImg {
  position: relative;
  display: block;
  width: 100%;
  max-width: 350px;
  height: auto;
  margin: 0 auto;
}
.trailerBox .moreBtn {
  position: relative;
  display: block;
  width: 88px;
  height: 25px;
  margin-top: 35px;
  background: url("/wp-content/themes/triton/img/moreBtn@2x.png") top center no-repeat;
  background-size: 88px 25px;
}
@media only screen and (min-width: 640px) and (max-width: 767px) {
  .trailerBox .span_6 {
    width: 100%;
  }
}
@media only screen and (min-width: 321px) and (max-width: 639px) {
  .trailerBox .span_6 {
    width: 100%;
  }
}
@media only screen and (max-width: 320px) {
  .trailerBox .span_6 {
    width: 100%;
  }
}
.trailerBox ul {
  list-style-type: none;
}
.trailerBox ul li {
  position: relative;
  display: block;
  margin: 0 0 8px 0;
  font-size: .9em;
  line-height: 1.4em;
  padding-left: 10px;
}
.trailerBox ul li:before {
  content: "• ";
  color: #dc0017;
  font-family: FFEnzoWebProBold;
  margin-left: -10px;
}
.compareSpecs {
  position: relative;
  display: block;
  width: 172px;
  height: 32px;
  margin: 10px 0 25px 0;
  background: url("/wp-content/themes/triton/img/compareSpecs.png") no-repeat;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .compareSpecs {
    background: url("/wp-content/themes/triton/img/compareSpecs@2x.png") no-repeat;
    background-size: 172px 32px;
  }
}
.featuresList,
.specTable,
.brochuresSection,
.accessoriesSection {
  position: relative;
  display: block;
  margin: 40px auto;
}
@media only screen and (min-width: 321px) and (max-width: 639px) {
  .featuresList,
  .specTable,
  .brochuresSection,
  .accessoriesSection {
    margin: 20px auto;
  }
}
@media only screen and (max-width: 320px) {
  .featuresList,
  .specTable,
  .brochuresSection,
  .accessoriesSection {
    margin: 20px auto;
  }
}
.featuresList ul {
  position: relative;
  display: block;
  list-style-type: none;
  margin: 15px auto 5px auto;
  padding: 0;
}
.featuresList ul li {
  position: relative;
  display: inline-block;
  font-size: 1em;
  line-height: 1.3em;
  margin: 0 2.6% 12px 0;
  width: 47%;
  padding: 0;
  vertical-align: top;
}
@media only screen and (min-width: 321px) and (max-width: 639px) {
  .featuresList ul li {
    width: 100%;
    margin-right: 0;
  }
}
@media only screen and (max-width: 320px) {
  .featuresList ul li {
    width: 100%;
    margin-right: 0;
  }
}
.specTable p {
  text-align: center;
}
.specTable .specpdf {
  position: relative;
  display: inline-block;
  clear: none;
  width: 146px;
  height: 32px;
  background: url("/wp-content/themes/triton/img/specpdf.png") top center no-repeat;
  margin: 25px 0 15px 0;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .specTable .specpdf {
    background: url("/wp-content/themes/triton/img/specpdf@2x.png") top center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}
.specTable .legend {
  position: relative;
  display: block;
  float: right;
  height: 32px;
  margin-top: 35px;
  width: auto;
  min-width: 25%;
  text-align: right;
}
.specTable .legend span {
  font-size: .9em;
  margin-left: 25px;
}
.specTable .legend span.standard:before {
  content: " ";
  position: relative;
  display: inline-block;
  top: 1px;
  left: -6px;
  width: 8px;
  height: 8px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  background-color: #000000;
  border: 1px solid #000000;
}
.specTable .legend span.optional:before {
  content: " ";
  position: relative;
  display: inline-block;
  top: 1px;
  left: -6px;
  width: 8px;
  height: 8px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  background-color: transparent;
  border: 1px solid #000000;
}
.specTable .specs {
  font-size: .9em;
}
.specTable .specs tr {
  vertical-align: middle;
}
.specTable .specs th {
  background-color: #000000;
  color: #fff;
  border: 2px solid #fff;
  height: 24px;
  padding: 3px 0;
  font-family: FFEnzoWebProBold;
  text-align: center;
}
.specTable .specs td {
  width: 20.5%;
  background-color: #e6e7e8;
  border: 2px solid #fff;
  text-align: center;
}
.specTable .specs td .std,
.specTable .specs td .opt {
  position: relative;
  display: block;
}
.specTable .specs td .std:before {
  content: " ";
  position: relative;
  display: block;
  margin: 0 auto;
  width: 7px;
  height: 7px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  background-color: #000000;
  border: 1px solid #000000;
}
.specTable .specs td .opt:before {
  content: " ";
  position: relative;
  display: block;
  margin: 0 auto;
  width: 7px;
  height: 7px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  background-color: transparent;
  border: 1px solid #000000;
}
.specTable .specs td a {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  padding: 8px 0;
  color: #fff;
  background-color: #dc0017;
  white-space: nowrap;
  font-family: FFEnzoWebProBold;
  text-transform: uppercase;
}
.specTable .specs td a:hover {
  background-color: #b0b0b2;
}
@media only screen and (min-width: 321px) and (max-width: 639px) {
  .specTable .specs td a {
    padding: 9px 0;
  }
}
@media only screen and (max-width: 320px) {
  .specTable .specs td a {
    padding: 9px 0;
  }
}
.specTable .specs .col0 {
  background-color: #000000;
  color: #fff;
  border: 2px solid #fff;
  height: 24px;
  padding: 3px 0;
  width: 18%;
  text-align: left;
  padding-left: 10px;
}
.brochpdf {
  position: relative;
  display: inline-block;
  clear: none;
  width: 146px;
  height: 32px;
  background: url("/wp-content/themes/triton/img/brochpdf.png") top center no-repeat;
  margin: 25px 0 15px 0;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .brochpdf {
    background: url("/wp-content/themes/triton/img/brochpdf@2x.png") top center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}
.accessoriesSection .accesspdf {
  position: relative;
  display: inline-block;
  clear: none;
  width: 146px;
  height: 32px;
  background: url("/wp-content/themes/triton/img/accesspdf.png") top center no-repeat;
  margin: 25px 0 15px 0;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .accessoriesSection .accesspdf {
    background: url("/wp-content/themes/triton/img/accesspdf@2x.png") top center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}
.accessoriesSection h4 {
  color: #dc0017;
  font-size: 1.1em;
  font-weight: bold;
}
.accessoriesSection ul {
  margin: 15px auto 25px auto;
  list-style-type: none;
}
.accessoriesSection ul li {
  position: relative;
  float: none;
  margin-bottom: 15px;
  display: inline-block;
  vertical-align: top;
}
@media only screen and (min-width: 768px) and (max-width: 949px) {
  .accessoriesSection ul li {
    width: 32.26%;
  }
}
@media only screen and (min-width: 640px) and (max-width: 767px) {
  .accessoriesSection ul li {
    width: 49.2%;
  }
}
@media only screen and (min-width: 321px) and (max-width: 639px) {
  .accessoriesSection ul li {
    width: 98.2%;
  }
}
@media only screen and (max-width: 320px) {
  .accessoriesSection ul li {
    width: 98.2%;
  }
}
.accessoriesSection ul li a {
  font-size: .9em;
  color: #000000;
}
.accessoriesSection ul li a:hover {
  color: #dc0017;
}
/* ACCESSORIES PAGE */
#main .backLink {
  position: relative;
  display: block;
  margin: 25px 0;
  text-align: left;
  width: 25px;
  height: 30px;
  background: url("/wp-content/themes/triton/img/controls.png") 5px 0px no-repeat;
}
@media only screen and (min-width: 321px) and (max-width: 639px) {
  #main .backLink {
    background: url("/wp-content/themes/triton/img/controls@2x.png") 5px 0px no-repeat;
    background-size: 63px 59px;
  }
}
@media only screen and (max-width: 320px) {
  #main .backLink {
    background: url("/wp-content/themes/triton/img/controls@2x.png") 5px 0px no-repeat;
    background-size: 63px 59px;
  }
}
.wp-post-image {
  position: relative;
  display: block;
  margin: 30px auto;
  max-width: 100%;
  height: auto;
}
/* POSTS STYLES */
.post,
.job {
  margin-bottom: 40px;
  padding-bottom: 10px;
  border-bottom: 1px solid #dc0017;
}
.post:last-child,
.job:last-child {
  border-bottom: none;
}
.post h5 a,
.job h5 a {
  text-transform: none;
  color: #000000;
}
.post h5 a:hover,
.job h5 a:hover {
  color: #dc0017;
}
.post p.illum:before,
.job p.illum:before {
  content: "";
}
.post .moreLink,
.job .moreLink {
  font-size: .9em;
  position: relative;
  display: block;
  margin: 0 0 10px 0;
  width: 150px;
}
.postDate-main {
  position: relative;
  display: block;
  font-size: .9em;
  margin: 0 0 10px 0;
  color: #808080;
}
.breadcrumbs {
  font-size: .8em;
}
.breadcrumbs a {
  color: #313132;
}
.breadcrumbs a:hover {
  color: #dc0017;
}
.breadcrumbs a:after {
  content: "-> ";
  margin-right: 6px;
}
.shareLinks {
  position: relative;
  display: block;
  margin: 40px auto;
}
.shareLinks .fb-share {
  position: relative;
  display: inline-block;
  margin-left: 20px;
  width: 22px;
  height: 18px;
  background: url("/wp-content/themes/triton/img/fb-share.png") top center no-repeat;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .shareLinks .fb-share {
    background: url("/wp-content/themes/triton/img/fb-share@2x.png") top center no-repeat;
    background-size: 10px 18px;
  }
}
.shareLinks .tw-share {
  position: relative;
  display: inline-block;
  margin-left: 20px;
  width: 22px;
  height: 18px;
  background: url("/wp-content/themes/triton/img/tw-share.png") top center no-repeat;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .shareLinks .tw-share {
    background: url("/wp-content/themes/triton/img/tw-share@2x.png") top center no-repeat;
    background-size: 18px 18px;
  }
}
.shareLinks .gp-share {
  position: relative;
  display: inline-block;
  margin-left: 20px;
  width: 22px;
  height: 18px;
  background: url("/wp-content/themes/triton/img/gp-share.png") top center no-repeat;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .shareLinks .gp-share {
    background: url("/wp-content/themes/triton/img/gp-share@2x.png") top center no-repeat;
    background-size: 18px 18px;
  }
}
.shareLinks .getLink {
  position: relative;
  display: inline-block;
  margin-left: 20px;
  width: 22px;
  height: 18px;
  background: url("/wp-content/themes/triton/img/getlink.png") top center no-repeat;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .shareLinks .getLink {
    background: url("/wp-content/themes/triton/img/getlink@2x.png") top center no-repeat;
    background-size: 18px 18px;
  }
}
.shareLinks .linkview {
  position: relative;
  display: block;
  width: 250px;
  font-size: 13px;
  border: none;
  background-color: #e6e7e8;
  padding: 10px 0 10px 1.2%;
  margin: 10px 0;
}
@media only screen and (min-width: 321px) and (max-width: 639px) {
  .shareLinks .linkview {
    width: 100%;
  }
}
@media only screen and (max-width: 320px) {
  .shareLinks .linkview {
    width: 100%;
  }
}
.single h5 {
  text-transform: none;
}
.postnavigation {
  position: relative;
  display: block;
  width: 100%;
  margin: 0 auto;
}
.postnavigation .newer {
  width: 50%;
  float: left;
}
.postnavigation .older {
  width: 50%;
  float: right;
  text-align: right;
}
.apppdf {
  position: relative;
  display: block;
  width: 154px;
  height: 32px;
  background: url("/wp-content/themes/triton/img/apppdf.png") top center no-repeat;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .apppdf {
    background: url("/wp-content/themes/triton/img/apppdf@2x.png") top center no-repeat;
    background-size: 154px 32px;
  }
}
#main .content #postForm {
  position: relative;
  display: block;
  padding: 0;
  height: 32px;
  margin: 20px 0;
  width: 100%;
  overflow: hidden;
}
#main .content #postForm .comment-notes {
  display: none;
}
#main .content #postForm .postComment {
  position: relative;
  display: block;
  margin: 0;
  width: 140px;
  height: 32px;
  background: url("/wp-content/themes/triton/img/postComment.png") top center no-repeat;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  #main .content #postForm .postComment {
    background: url("/wp-content/themes/triton/img/postComment@2x.png") top center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}
#main .content #postForm #reply-title {
  display: none;
}
#main .content #postForm p:first-child a {
  position: relative;
  display: inline;
}
#main .content #postForm p:first-child a:last-child {
  margin-left: 20px;
}
#main .content #postForm p:first-child:before {
  content: ' ';
}
#main #postForm form {
  position: relative;
  display: block;
  margin-top: 0;
}
#main #postForm form p {
  margin: 5px 0;
  padding: 0;
}
#main #postForm form label {
  display: none;
}
#main #postForm form .comment-form-comment {
  position: relative;
  display: block;
  width: 100%;
}
#main #postForm form #postForm .form-submit {
  width: 49.2%;
}
#main #postForm form textarea#comment,
#main #postForm form input#author,
#main #postForm form input#email,
#main #postForm form input#url {
  position: relative;
  display: block;
  margin: 0 0 20px 0 !important;
  padding: 5px 0 5px 10px !important;
  font-size: .9em;
  font-family: FFEnzoWebProMediumItalic;
  z-index: 999;
}
@media only screen and (min-width: 321px) and (max-width: 639px) {
  #main #postForm form textarea#comment,
  #main #postForm form input#author,
  #main #postForm form input#email,
  #main #postForm form input#url {
    width: 100%;
  }
}
@media only screen and (max-width: 320px) {
  #main #postForm form textarea#comment,
  #main #postForm form input#author,
  #main #postForm form input#email,
  #main #postForm form input#url {
    width: 100%;
  }
}
#main #postForm form input#submit {
  position: relative;
  display: block;
  margin: 0 0 20px 0 !important;
  padding: 10px 0 !important;
  font-size: 13px;
  font-weight: normal;
  width: 20%;
}
@media only screen and (min-width: 321px) and (max-width: 639px) {
  #main #postForm form input#submit {
    width: 50%;
  }
}
@media only screen and (max-width: 320px) {
  #main #postForm form input#submit {
    width: 50%;
  }
}
#main #postForm form #comment {
  text-indent: 0;
  height: 100px;
}
@media only screen and (min-width: 321px) and (max-width: 639px) {
  .sideBar {
    display: none;
  }
}
@media only screen and (max-width: 320px) {
  .sideBar {
    display: none;
  }
}
@media only screen and (min-width: 321px) and (max-width: 639px) {
  .newsPage .span_9,
  .single .span_9 {
    width: 100%;
  }
}
@media only screen and (max-width: 320px) {
  .newsPage .span_9,
  .single .span_9 {
    width: 100%;
  }
}
.newsPage .postImage {
  position: relative;
  display: block;
  max-height: 400px;
  margin: 25px 0 15px 0;
}
@media only screen and (min-width: 321px) and (max-width: 639px) {
  .newsPage .postImage {
    max-height: 300px;
    margin: 15px 0 15px 0;
  }
}
@media only screen and (max-width: 320px) {
  .newsPage .postImage {
    max-height: 300px;
    margin: 15px 0 15px 0;
  }
}
.newsPage .postImage .fve-video-wrapper {
  width: auto;
  height: auto;
  max-height: 400px;
}
@media only screen and (min-width: 321px) and (max-width: 639px) {
  .newsPage .postImage .fve-video-wrapper {
    max-height: 300px;
  }
}
@media only screen and (max-width: 320px) {
  .newsPage .postImage .fve-video-wrapper {
    max-height: 300px;
  }
}
.single .postImage img {
  position: relative;
  display: block;
  max-height: 400px;
  margin: 40px 0 15px 0;
}
@media only screen and (min-width: 321px) and (max-width: 639px) {
  .single .postImage img {
    max-height: 300px;
    margin: 25px 0 15px 0;
  }
}
@media only screen and (max-width: 320px) {
  .single .postImage img {
    max-height: 300px;
    margin: 25px 0 15px 0;
  }
}
.nocomments {
  position: relative;
  display: block;
  font-family: FFEnzoWebProBold;
  margin: 25px 0;
}
#comments {
  position: relative;
  display: block;
  margin: 25px auto;
  padding: 25px 0;
  border-top: 1px solid #dc0017;
}
#postedComments {
  list-style-type: none;
}
#postedComments .authorAvatar {
  position: relative;
  display: inline-block;
  vertical-align: bottom;
  width: 48px;
  height: 48px;
  margin: 10px 0;
}
#postedComments .authorAvatar .avatar {
  width: 100%;
  height: auto;
}
#postedComments .authorInfo {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 80%;
  height: 43px;
  margin: 10px 0 10px 15px;
  padding-top: 5px;
  line-height: 1.5em;
}
#postedComments .authorInfo .postdate {
  position: relative;
  display: block;
  font-size: .9em;
  margin: 0 0 10px 0;
  color: #808080;
}
#postedComments li {
  position: relative;
  display: block;
  margin: 10px 0;
  padding: 15px 0;
  border-bottom: 1px solid #e6e7e8;
}
#main .content .commentText {
  position: relative;
  display: block;
  margin: 10px 0;
}
#main .content .commentText p {
  line-height: 1.5em;
}
#main .content .commentText p:first-child:before {
  content: '';
}
.specs td,
.specs th {
  overflow: hidden;
}
.note:before {
  content: "Note: ";
  font-family: FFEnzoWebProBold;
}
.table {
  position: relative;
  display: block;
  overflow: hidden;
}
.tableArrowR,
.tableArrowL {
  position: absolute;
  display: block;
  width: 20px;
  height: auto;
  cursor: pointer;
  z-index: 10;
}
.tableArrowR {
  right: 0;
  background: url("/wp-content/themes/triton/img/tableFade.png") top right repeat-y;
}
.tableArrowR:after {
  content: "";
  position: absolute;
  width: 15px;
  height: 22px;
  background: url("/wp-content/themes/triton/img/controls.png") top right no-repeat;
  background-size: 47px 44px;
}
.tableArrowL {
  left: 0;
  background: url("/wp-content/themes/triton/img/tableFadeL.png") top left repeat-y;
}
.tableArrowL:after {
  content: "";
  position: absolute;
  width: 15px;
  height: 22px;
  left: 4px;
  background: url("/wp-content/themes/triton/img/controls.png") top left no-repeat;
  background-size: 47px 44px;
}
/* PRODUCT SUPPORT PAGE */
.manuals {
  margin: 25px auto 40px auto;
  list-style-type: none;
}
.manuals li {
  margin-bottom: 12px;
}
@media only screen and (min-width: 640px) and (max-width: 767px) {
  .manuals li {
    width: 49.2%;
  }
}
@media only screen and (min-width: 321px) and (max-width: 639px) {
  .manuals li {
    width: 49.2%;
  }
}
@media only screen and (max-width: 320px) {
  .manuals li {
    width: 49.2%;
  }
}
.manuals li a {
  font-size: .9em;
  color: #000000;
}
.manuals li a:before {
  position: relative;
  display: inline-block;
  margin-right: 9px;
  width: 16px;
  height: 19px;
  content: '';
  background: url("/wp-content/themes/triton/img/pdfIcon.png") top center no-repeat;
  vertical-align: bottom;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .manuals li a:before {
    background: url("/wp-content/themes/triton/img/pdfIcon@2x.png") top center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}
.manuals li a:hover {
  color: #dc0017;
}
.narrowList a {
  position: relative;
  display: block;
  font-family: FFEnzoWebProBoldItalic;
  text-align: center;
  padding: 8px 6px;
  background-color: #e6e7e8;
  color: #000000;
  margin: 0 3px 0 0;
}
.narrowList a:hover {
  background-color: #b0b0b2;
}
.narrowList a.active {
  background-color: #b0b0b2;
}
@media only screen and (min-width: 640px) and (max-width: 767px) {
  .narrowList a {
    width: 25%;
  }
}
@media only screen and (min-width: 321px) and (max-width: 639px) {
  .narrowList a {
    width: 25%;
  }
}
@media only screen and (max-width: 320px) {
  .narrowList a {
    width: 25%;
  }
}
.diagrams {
  margin: 20px auto;
}
.diagrams th {
  padding: 12px 0;
  text-align: left;
  font-family: FFEnzoWebProBoldItalic;
}
.diagrams tr:nth-child(even) {
  background-color: #f1f1f1;
}
.diagrams tr td {
  padding: 12px 5px;
  text-align: left;
}
.diagrams a {
  text-align: left;
  text-decoration: underline;
}
/* FAQS PAGE */
#main form.faqSearch {
  border-bottom: 1px solid #dc0017;
  margin-bottom: 35px;
}
#faqPage .faq {
  position: relative;
  display: block;
  margin: 35px 0 35px 0;
  padding-bottom: 30px;
  border-bottom: 1px solid #bfbfbf;
}
#faqPage .faq:last-child {
  border-bottom: none;
}
#faqPage .faq p {
  margin: 0 0 6px 0;
  padding: 0;
}
#faqPage .faq p.illum:before {
  content: " ";
}
#faqPage .faq p:first-child:before {
  content: " ";
}
#faqPage .faq p:first-child::before {
  content: " ";
}
@media only screen and (min-width: 321px) and (max-width: 639px) {
  #main .content .span_9 {
    width: 100%;
  }
}
@media only screen and (max-width: 320px) {
  #main .content .span_9 {
    width: 100%;
  }
}
#main .careerPost {
  margin-left: 0;
  margin-right: 0;
}
#main .newsPost ol {
  list-style-position: outside;
  padding-left: 25px;
}
#main .newsPost ol li {
  position: relative;
  display: list-item;
  margin: 5px 0;
  line-height: 1.4em;
  padding-bottom: 10px;
}
.pageNav {
  position: relative;
  display: block;
  margin: 0 auto;
  text-align: center;
}
.pageNav a {
  padding: 0 10px;
  font-family: FFEnzoWebProBold;
  font-size: .9em;
}
@media only screen and (max-width: 320px) {
  .pageNav {
    width: 100%;
  }
}
@media only screen and (min-width: 321px) and (max-width: 639px) {
  .pageNav {
    width: 100%;
  }
}
@media only screen and (min-width: 640px) and (max-width: 767px) {
  .pageNav {
    width: 60%;
  }
}
